<h4 class="alert alert-success">Корзина</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>OEM</th>
            <th>Наименование</th>
            <th>Склад</th>
            <th>Стоимость</th>
            <th>Количество</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in oc.basket track by $index">
            <td>{{$index + 1}}</td>
            <td>{{item.vin}}</td>
            <td>{{item.name}}</td>
            <td ng-if="item.clientView">{{item.clientView}}</td>
            <td ng-if="!item.clientView">{{item.orderStorage.name | nameFilter}}</td>
            <td>{{item.orderStorage.price}}</td>
            <td>{{item.orderCount}}</td>
            <td ng-click="oc.removeItemFromBasket($index)" class="text-danger">
                <i style="cursor:pointer" class="fa fa-times-circle"></i>
            </td>
        </tr>
    </tbody>
</table>

<div id="message-box" class="alert hide" ng-class="oc.status === 'success' ? 'alert-success' : oc.status === 'error' ? 'alert-danger' : 'alert-warning' ">
    <div class="w-100 text-right">
        <i ng-click="oc.closeAttention($event)" class="fa fa-times"></i>
    </div>
    <p ng-repeat="message in oc.message" class="w-100 text-left">{{ message }}</p>
</div>

<div class="text-right shopping-info my-5">
    <button ng-click="oc.checkBasket()" class="btn btn-danger"><i class="mr-3 fa fa-check"></i>Проверить актуальность корзины!</button>
</div>

<div class="text-right shopping-info">
    <ul style="list-style: none">
        <li ng-repeat="item in vm.list" ><a ui-sref="page({ page: item._id})">{{ item.title }}</a></li>
    </ul>
    <label for="confirm"><input type="checkbox" ng-model="confirm" name="confirm" id="confirm"> Подтверждаю, что ознакомился с документами выше и
        <br> <b>даю свое согласие на обработку персональных данных</b></label>
</div>

<div class="text-right shopping-info">
    <span class="mr-3">Сумма заказа: <b>{{oc.sum().sum}}</b></span>
    <span>Количество: <b>{{oc.sum().count}}</b></span>
</div>

<div ng-if="oc.userId" class="text-right shopping-info my-5">
    <button ng-click="oc.clearBasket()" class="btn btn-danger"><i class="mr-3 fa fa-times-circle-o"></i>Очистить корзину</button>
    <button ui-sref="personal.create({userId: oc.userId})" ng-model="button" class="btn btn-success"><i class="mr-3 fa fa-credit-card"></i> К оформлению</button>
    <!--<button ng-click="oc.createOrder()" ng-model="button" ng-disabled="!confirm"  class="btn btn-success"><i class="mr-3 fa fa-credit-card"></i> К оформлению заказа</button>-->
</div>

<div ng-if="!oc.userId" class="text-right shopping-info my-5">
    <button ng-click="oc.clearBasket()" class="btn btn-danger"><i class="mr-3 fa fa-times-circle-o"></i>Очистить корзину</button>
    <button ui-sref="guest.create" ng-model="button" ng-disabled="!confirm"  class="btn btn-success"><i class="mr-3 fa fa-credit-card"></i> К оформлению заказа</button>
    <!--<button ng-click="oc.createOrder()" ng-model="button" ng-disabled="!confirm"  class="btn btn-success"><i class="mr-3 fa fa-credit-card"></i> К оформлению заказа</button>-->
</div>