body {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    padding-left: 10px;
    font-size: 13px;
    opacity: 0.7;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 10px;
    font-size: 12px;
    opacity: 0.7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    padding-left: 10px;
    font-size: 12px;
    opacity: 0.7;
}
a {
    color: #362f73;
    text-decoration: none;
}
pre {
    font: inherit;
    flex-wrap: wrap;
    white-space: pre-line;
    display: block;
    font-size: 16px;
}
.post-image {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
footer {
    padding: 30px 150px;
    background: #362f73;
}
input, button, .nav-item,.btn{
    border-radius: 0!important;
}
input {
    border: 1px solid #352e74 !important;
}
h6 {
    padding-left: 10px;
}
img {
    width: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.mark-header-list.active{
    /*display: flex;*/
}
.desription p {
    padding: 20px 20px 0px 20px;
}
.model-list {
    display: flex;
}
.mark-header-list ul {
    margin-top: 0px;
}

.catalog-nav-sidebar .fa {
    font-size: 10px;
}
.wm::before {
    background-image: url('../img/wm.png');

}
.yd::before {
    background-image: url('../img/yd.png');

}
.p::before {
    background-image: url('../img/p.png');

}
.sb::before {
    background-image: url('../img/sb.png');

}
.wu::before {
    background-image: url('../img/wu.png') !important;
}
.payment-list {
    margin-top: 20px;
    font-size: 13px;
    padding-left: 10px;
    list-style: none;
}
.payment-logo::before {
    /*background-image: url('../img/wu.png');*/
    background-size: 60px 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
    content:"";
    vertical-align: middle;
}
.white-text {
    color: #fff;
}
.white-font a {
    color: #fff;
}
.footer-column {
    margin-top: 15px;
}
.footer-column a{
    padding:0 10px;
    font-size: 14px;
}
.footer-column .nav-item {
    
}
.logo {
    width:115%;
}
.personal-block {
    list-style: none;
    display: flex !important;
    padding-left: 0;
    margin-bottom: 0;
}
.personal-block li {
    text-align: center;
    width: 100%;
}
.personal-block .fa {
    width:100%;
    color: #352e74;
}

#sidebar .nav-link {
    font-size: 14px;
}
#sidebar .nav-link.active {
    font-size: 14px;
    color: #fff;
    background: #352e74;
}
#sidebar .nav {
    text-align: center;
}
#sidebar .nav-item {
    border: 1px solid #352e74;
    border-bottom:0px solid;
}
#sidebar .nav-item:last-child {
    border-bottom:1px solid #352e74;
}
.btn-primary {
    color: #fff;
    background: #352e74;
    border: none;
}
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #352e74;
    background-image: none;
    border: none;
}
.btn-primary:hover {
    color: #fff;
    background: #352e74;
    border: none;
}
#search-header-form .form-group{
    margin-bottom: 0px;
    display: flex;
}
#search-header-form .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 100%;
    text-align: center;
    background: #352e74;
    color: #fff;
}
#search-header-form .nav-item a{
    padding: 0.35em 0em;
}
#search-header-form a {
    color: #fff;
}
#search-header-form a.active{
    color: #352e74;
}
#top-header-menu li {
    padding: 0 2px;
}

@media (max-width: 767px) {
    accessories-item.col-6{
        padding-left: 0;
    }
    .personal-block {
        display: none !important;
    }
}
