<h5>Контактная информация</h5>
<ul class="contact-list">
    <li class="contact-item"><b>Телефон: </b> {{tel}}</li>
    <li class="contact-item"><b>Email: </b> {{email}}</li>
    <li class="contact-item"><b>Адрес: </b> {{adress}}</li>
</ul>
<button class="btn btn-primary" ng-click="main.action()">Отправить заявку</button>