
<h2 class="text-center">Интернет магазин Korkit.ru</h2>
<div class="row d-none d-lg-block">
    <div class="container">
        <ul class="category-boxes ">
            <a class="category-block-item col-md-5 col-lg-5 col-sm-5 col-xs-12" ui-sref="autocatalog.main" >
                <li class="to d-flex align-items-center category-boxes-item ">
                    <div class="container">
                        <p>Запчасти для вашего ТО</p>
                    </div>
                </li>
            </a>
            <a class="category-block-item col-md-5 col-lg-5 col-sm-5 col-xs-12" ui-sref="catalog.category({ catalog: 'oil' })">
                <li class="oil d-flex align-items-center category-boxes-item ">
                    <div class="container">
                        <p>Масла</p>
                    </div>
                </li></a>
            <a class="category-block-item col-md-2 col-lg-2 col-sm-2 col-xs-12" ui-sref="catalog.category({ catalog: 'accs' })">
                <li class="acs d-flex align-items-center category-boxes-item">
                    <div class="container">
                        <p>Аксессуары</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>
<div class="row d-none d-lg-block">
    <div class="container">
        <ul class="category-boxes ">
            <a class="category-block-item col-md-6 col-lg-6 col-sm-6 col-xs-12" ui-sref="catalog.category({ catalog: 'battary' })">
                <li class="battary d-flex align-items-center category-boxes-item ">
                    <div class="container">
                        <p>Аккумуляторы</p>
                    </div>
                </li>
            </a>
            <a class="category-block-item col-md-6 col-lg-6 col-sm-6 col-xs-12" ui-sref="catalog.category({ catalog: 'glass' })">
                <li class="glass d-flex align-items-center category-boxes-item">
                    <div class="container">
                        <p>Щетки стеклоочестителя</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>

<div class="container d-md-none">
    <div class="row mobile-category-block text-center">
        <div class="container col-6 align-items-center">
        <a class=" " ui-sref="autocatalog.main">
            <img src="d84c9b9dbe56dc179392351a2d0b85b0.png" alt="">
            <p>Запчасти к ТО</p>
        </a>
    </div>
        <div class="container col-6 align-items-center">
        <a class=" align-items-center" ui-sref="catalog.category({ catalog: 'battary' })">
            <img src="321c004de8359c5cfcc63a4ec6d6c937.png" alt="">
                <p>Аккумуляторы</p>
        </a>
        </div>
        <div class="container col-6 align-items-center">
        <a ui-sref="catalog.category({ catalog: 'accs' })">
            <img src="2ee847d87ec59491fb5e5bfbb929955d.png" alt="">
                <p>Акксесуары</p>
        </a>
        </div>
        <div class="container col-6 align-items-center">
        <a ui-sref="catalog.category({ catalog: 'glass' })">
            <img src="8fc05d481645d06784c19446b936bc1e.png" alt="">
                <p>Щетки <br> стеклоочистителя</p>
        </a>
        </div>
        <div class="container col-12 align-items-center">
        <a ui-sref="catalog.category({ catalog: 'oil' })">
            <img src="da148f05c3f54d88832b4d196bb3eeb4.png" alt="">
                <p>Масла</p>
        </a>
        </div>
    </div>
</div>
