.active-drop {
    display: block;
}
.shop-menu {
    z-index: 50;
    display: none;
    width: 107%;
    top: 108px;
    margin-left: 158px;
    list-style: none;
    position: absolute;
    background: #fff;
    text-align: center;
    padding: 0 0;
}
.shop-menu li {
    padding: 5px;
}

#shop-catalog:last-child {
    border-bottom: 1px solid #362f73;
}
#shop-catalog .nav-item:hover, #sidebar .nav-item:hover {
    background-color: #362f73;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#shop-catalog .nav-item:last-child {
    border-bottom: 0px;
}
#sidebar a:hover{
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover {
    text-decoration: none;
}
#shop-catalog .nav-item, #sidebar .nav-item {
    background-color: #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}