<section ng-init="vm.getCars()">
    <p ng-if="(vm.garage.length < 1 && !vm.isEditMode)">У вас нет автомобилей в гараже. нижмите кнопку "Редактировать список"</p>
    <div class="row">
        <div ng-repeat="car in vm.garage" class="col-12 col-lg-4 col-sm-2 col-md-4">
            <div class="card">
                <h6 class="alert alert-success">{{car.spec.brand}} {{car.spec.display}} {{car.year}}</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Лошад. силы: {{car.spec.horses}}</li>
                    <li class="list-group-item">Трансмиссия: {{car.spec.trans}}</li>
                    <li class="list-group-item">Номер vin: {{car.vin}}</li>
                    <li ng-if="vm.isEditMode" class="list-group-item"><button class="mx-auto btn btn-danger"><i class="fa mr-3 fa-remove"></i>Удалить</button></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-right" ng-if="!vm.garage.length < 1">Всего машин: {{vm.garage.length}}</p>

    <div class="row text-center">
        <button ng-if="!vm.isEditMode" ng-click="vm.editMode()" class="mx-auto btn btn-warning"><i class="fa mr-3 fa-edit"></i>Редактировать список</button>
    </div>

    <div class="container">
        <div ng-if="vm.isEditMode" class="row">
            <h2>Добавление нового автомобиля в гараж</h2>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <form>
                    <div class="form-group">
                        <label>Выберите год выпуска: <span ng-model="vm.year"></span></label>
                        <!--<select ng-model="year" ng-options="year in vm.years"></select>-->
                        <select ng-model="vm.year" ng-change="vm.getBrand()" class="form-control" id="years">
                            <option ng-repeat="option in vm.years" value="{{option.year}}">{{option.year}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Выберите марку авто: <span ng-model="vm.brand"></span></label>
                        <!--<select ng-model="year" ng-options="year in vm.years"></select>-->
                        <select ng-model="vm.brand" ng-change="vm.getModel()" class="form-control" id="brand">
                            <option ng-repeat="option in vm.brands" value="{{option.id}}">{{option.display}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Выберите модель: <span ng-model="vm.model"></span></label>
                        <!--<select ng-model="year" ng-options="year in vm.years"></select>-->
                        <select ng-model="vm.model" ng-change="vm.getSpec()" class="form-control" id="model">
                            <option ng-repeat="option in vm.models" value="{{option.display}}">{{option.display}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Выберите спецификацию: <span ng-model="vm.spec"></span></label>
                        <!--<select ng-model="year" ng-options="year in vm.years"></select>-->
                        <select ng-model="vm.spec" ng-change="vm.showCar()" class="form-control" id="spec">
                            <option ng-repeat="option in vm.specs" value="{{option}}">{{option.display}}, Обьем двиг: {{option.engine}}, л.с{{option.horses}}, {{option.fuel}}, Цилиндры: {{option.cyl}}</option>
                        </select>
                    </div>
                    <button class="btn btn-success" ng-click="vm.createCar()"><i class="fa mr-3 mr-3 fa-plus-circle"></i>Добавить авто</button>
                    <button class="btn btn-warning" ng-click="vm.cancelEdit()"><i class="fa mr-3 mr-3 fa-remove"></i>Отменить и выйти</button>
                </form>
            </div>
            <div ng-if="vm.isShowCar" class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <h4 class="alert alert-success card-title">{{vm.specification.brand}} {{vm.model}} {{vm.year}}</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Модель: {{vm.specification.display}}</li>
                        <li class="list-group-item">Лошадинные силы: {{vm.specification.horses}}</li>
                        <li class="list-group-item">Топливо: {{vm.specification.fuel}}</li>
                        <li class="list-group-item">Обьем двигателя: {{vm.specification.engine}}</li>
                        <li class="list-group-item">Количесвто цилиндров: {{vm.specification.cyl}}</li>
                        <li class="list-group-item">Трансмиссия: {{vm.specification.trans}}</li>
                        <li class="list-group-item">Привод: {{vm.specification.drive}} </li>
                        <li class="list-group-item">Вес авто: {{vm.specification.weignt}} кг.</li>
                        <li class="list-group-item">Тип кузова: {{vm.specification.model}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>