<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Панель администратора</a>
            </li>
            <li ui-sref-active="active">
                <!--<a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Статистика<span></span></a>-->
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Таблицы</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Добавление товара</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.support"><i class="fa fa-comment fa-fw"></i> Система обращений</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.price"><i class="fa fa-credit-card fa-fw"></i> Система проценки партнеров</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.customers"><i class="fa fa-user fa-fw"></i> Покупатели</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.news"><i class="fa fa-newspaper-o fa-fw"></i> Новости и акции</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.editPage"><i class="fa fa-newspaper-o fa-fw"></i> Редактирование</a>
            </li>

            <!--<li ng-class="{active: collapseVar==1}">{{dropDown}}-->
                <!--<a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span-->
                        <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level" collapse="collapseVar!=1">-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="dashboard.panels-wells">Panels and Wells</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="dashboard.buttons">Buttons</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="dashboard.notifications">Notifications</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="dashboard.typography">Typography</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="dashboard.icons"> Icons</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="dashboard.grid">Grid</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
            <!--<li ng-class="{active: collapseVar==2}">-->
                <!--<a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span-->
                        <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level" collapse="collapseVar!=2">-->
                    <!--<li>-->
                        <!--<a href="">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">-->
                        <!--<a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-third-level" collapse="multiCollapseVar!=3">-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->

                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
            <!--<li ng-class="{active:collapseVar==4}">-->
                <!--<a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span-->
                        <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level" collapse="collapseVar!=4">-->
                    <!--<li ng-class="{active: selectedMenu=='blank'}">-->
                        <!--<a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a ui-sref="login">Login Page</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
            <!--<li><a href="http://www.strapui.com/">Premium Angular Themes</a></li>-->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



