.info-news {
    min-height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}
.about-img {
    background: url('/about-images.png');
}