<h4 class="alert alert-success">Создание заказа</h4>
<div class="row">
    <div ng-class="oc.userId ? 'col-12' : 'col-8'">
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>OEM</th>
                    <th>Наименование</th>
                    <th>Склад</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                    <!--<th></th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in oc.basket track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{item.vin}}</td>
                    <td>{{item.name}}</td>
                    <td ng-if="item.clientView">{{item.clientView}}</td>
                    <td ng-if="!item.clientView">{{item.orderStorage.name | nameFilter}}</td>
                    <td>{{item.orderStorage.price}}</td>
                    <td>{{item.orderCount}}</td>
                    <!--<td ng-click="oc.removeItemFromBasket($index)" class="text-danger">-->
                    <!--<i style="cursor:pointer" class="fa fa-times-circle"></i>-->
                    <!--</td>-->
                </tr>
            </tbody>
        </table>
        <div class="text-right shopping-info">
            <span class="mr-3">Сумма заказа: <b>{{oc.sum().sum}}</b></span>
            <span>Количество: <b>{{oc.sum().count}}</b></span>
        </div>
    </div>

    <div ng-if="oc.userId" class="col-12 d-flex justify-content-end">
        <div  class="shopping-info my-5">
            <!--<button ng-click="oc.createOrder()" ng-model="button" ng-disabled="!confirm"  class="btn btn-success"><i class="mr-3 fa fa-credit-card"></i> К оформлению заказа</button>-->
            <button ui-sref="personal.page({ userId: oc.userId })" class="btn btn-danger"><i class="mr-3 fa fa-times-circle-o"></i>Вернуться в личный кабинет</button>
            <button ng-click="oc.createOrder()" ng-model="button" class="btn btn-success"><i class="mr-3 fa fa-credit-card"></i> Отправить заказ</button>
        </div>
    </div>
    <div ng-if="!oc.userId" class="col-4">
        <h6 class="alert alert-warning">Заполните данные для оформления заказа</h6>
        <form ng-submit="oc.createGuestOrder()" class="alert alert-warning">
            <div class="form-group">
                <label for="name">Ваше имя*</label>
                <input type="text" ng-model="oc.name" class="form-control" required id="name" placeholder="">
            </div>
            <div class="form-group">
                <label for="tel">Ваш мобильный телефон*</label>
                <input type="text"  ng-model="oc.tel" pattern="[0-9]{11}" class="form-control" required id="tel" placeholder="88003332020 (пример)">
            </div>
            <div class="form-group">
                <label for="email">Ваш email (необязательно)</label>
                <input type="text" ng-model="oc.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" class="form-control" id="email" placeholder="example@mail.com (пример)">
            </div>
            <div class="input-group">
                <label for="storage" class="w-100">Пункт выдачи заказа:</label>
                <select required class="custom-select" ng-model="oc.storage" id="storage">
                    <option selected disabled value=''>Адрес магазина</option>
                    <option value="autoLavka">г.Бийск, ул. Советская, 60</option>
                    <option value="euroAuto">г.Бийск, ул. Мерлина, 11</option>
                    <option value="nsk">г.Новосибирск, Николая Островского, 120</option>
                </select>
            </div>
            <div class="text-right shopping-info my-5">
                <!--<button ng-click="oc.createOrder()" ng-model="button" ng-disabled="!confirm"  class="btn btn-success"><i class="mr-3 fa fa-credit-card"></i> К оформлению заказа</button>-->
                <button type="submit" ng-model="button" class="w-100 mb-3 btn btn-success"><i class="mr-3 fa fa-credit-card"></i> К оплате</button>

                <button ui-sref="guest.basket" class="w-100 btn btn-danger"><i class="mr-3 fa fa-times-circle-o"></i>Вернуться к корзине</button>
            </div>

        </form>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Подтвердите ваш номер</h3>
    </div>
    <div class="modal-body" id="modal-body">
        {{mc.item}}
        <label for="code">Дождитесь СМС и введите код.</label>
        <input required pattern="[0-9]{4}" maxlength="4" type="text" ng-model="mc.code" for="code" id="code" placeholder="">
        <p>Актуальность кода: <b>{{mc.codeExpires}}</b> сек.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mc.ok()">Подтвердить</button>
        <button class="btn btn-warning" type="button" ng-click="mc.cancel()">Отменить</button>
    </div>
</script>

