<div class="row block d-flex vh-50 justify-content-center">

    <div style="min-height: 50vh;" class="row align-items-center">
        <div class="col text-center">
            <i class="text-success mb-3 fa fa-3x fa-check"></i>
            <h4 class="alert alert-success">Заказ успешно отправлен <br> на обработку!</h4>
        </div>
    </div>

</div>