<div class="panel-body" ng-init="vm.getOrderList(0,5)">
    <h2>Список заказов</h2>
    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Дата заказа</th>
                    <th>Номер заказа</th>
                    <th>Стоимость</th>
                    <th>Заказчик</th>
                    <th>Телефон</th>
                    <th>Количество позиций</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-style="{ background: order.status =='done' ? 'rgba(43, 255, 18, 0.13)' : order.status =='pending' ? 'rgba(255, 255, 0, 0.13)' : 'rgba(128, 128, 128, 0.13)'}" ui-sref="dashboard.order( { id: order._id } )" style="cursor: pointer" ng-repeat="order in vm.orders">
                    <td> {{order.created | date}} </td>
                    <td> {{order.orderNumber}} </td>
                    <td> {{order.cost}} </td>
                    <td> {{order.guestInfo ? order.guestInfo.email : order.user.email}} </td>
                    <td> {{order.guestInfo ? order.guestInfo.phone : order.user.phone}} </td>
                    <td> {{order.orderLenght}} </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li>
                    <span>Записей всего: {{vm.ordersStat.count.length}}</span>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-disabled="vm.ordersStat.prev == 0" ng-click="vm.getOrderList(vm.ordersStat.prev, 5)">Назад</a>
                </li>
                <li class="page-item"><a class="page-link" ng-click="vm.getOrderList(vm.ordersStat.prev, 5)">{{vm.ordersStat.prev+1}}</a></li>
                <li class="page-item active">
                  <span class="page-link" ng-click="vm.getOrderList(vm.ordersStat.pageIs, 5)">
                    {{vm.ordersStat.pageIs+1}}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                <li class="page-item"><a class="page-link" ng-click="vm.getOrderList(vm.ordersStat.next, 5)">{{vm.ordersStat.next+1}}</a></li>
                <li class="page-item"><a class="page-link" ng-click="vm.getOrderList(vm.ordersStat.next+1, 5)">{{vm.ordersStat.next++2}}</a></li>
                <li class="page-item">
                    <a class="page-link" ng-click="vm.getOrderList(vm.ordersStat.next, 5)">Вперед</a>
                </li>
            </ul>
        </nav>
    </div>
</div>