<div class="container" ng-init="am.getUserInfo()">
    <div class="row justify-content-end">
        <div class="col-md-6 col-lg-6 col-sm-6 col-12">
            <ul id="top-header-menu">
                <!--<li>Телефон: 8(800)200 20-20</li>-->
                <!--<li>| Интернет-магазин Korkit.ru</li>-->
                <!--<li>| <a ng-hide="am.loggedIn" ui-sref="auth.sign-in">Регистрация</a> |</li>-->
                <li>
                    <!--<a ng-hide="am.loggedIn" ui-sref="auth.login">Войти в личный кабинет</a>-->
                    <a ng-hide="!am.loggedIn" ng-click="am.doLogout()" >Выйти</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row align-items-center ">
        <div class="col-4 col-md-3 col-lg-3 col-sm-3">
            <img ui-sref="home.main" class="logo" src="logo.png" alt="Интернет магазин автозапчастей"></a>
        </div>
        <div class="col-8 d-sm-none">
            <div class="container">
                <nav class="navbar navbar-toggleable-md  navbar-dark bg-dark">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link active" ui-sref="home.main" ui-sref-active="active">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="about" ui-sref-active="active">О нашей компании</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="news.list" ui-sref-active="active">Новости</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="shop" ui-sref-active="active">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div id="search-header-form" class="col col-mg-7 col-lg-7 col-sm-7 col-12">
            <form action="{{'#!/search?q=' + num}}" ng-submit="">
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="text" ng-model="num" minlength="2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Поиск по номеру детали" required>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab id="vin-btn" index="0" heading="Номер VIN"></uib-tab>
                <uib-tab id="model-btn" ng-click="vm.openModelList()" index="1" heading="Марка авто">
                    <model-list ng-mouseleave="vm.hideModelList()"></model-list>
                </uib-tab>
                <uib-tab ui-sref="autocatalog.main" index="2" heading="Каталог ТО"></uib-tab>
            </uib-tabset>

            <!-- Tab panes -->

        </div>
            <ul class="personal-block d-none d-lg-block">
                <li ng-if="!am.loggedIn">
                    <a ui-sref="guest.basket"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                    Корзина</a>
                </li>
                <li ng-if="am.loggedIn">
                    <a ui-sref="personal.page({userId: am.user._id})"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                    Корзина</a>
                </li>
                <li ng-if="am.loggedIn">
                    <a  ui-sref="personal.page({userId: am.user._id})"><i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    Мой кабинет</a>
                </li>
                <li ng-if="!am.loggedIn">
                    <a  ui-sref="auth.login"><i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        Войти</a>
                </li>
            </ul>
        </div>
</div>
