<div class="container auth">
    <p>Введите мобильный телефон и пароль введенные вами при регистрации</p>
    <h2 class="text-center">Войдите в личный кабинет</h2>
        <form method="post" ng-submit="vm.doLogin()">
            <div class="form-group">
                <label for="login">Ваш телефон</label>
                <input type="text"  ng-model="vm.loginData.username" pattern="[0-9]{11}" class="form-control" required id="login" placeholder="899980002020 (пример)">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" ng-model="vm.loginData.password" name="password" class="form-control" id="password" placeholder="******">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </form>
    <p><small>Забыли пароль? <a ui-sref="auth.recovery">Восстановить</a></small></p>
    <p><small>Нет учетной записи? <a ui-sref="auth.sign-in">Зарегистрируйтесь</a></small></p>
</div>
