<div class="container auth">
    <p>Введите мобильный телефон введеный вами при регистрации</p>
    <h2 class="text-center">Восстановите пароль</h2>
    <form method="post" ng-submit="vm.recoveryPass()">
        <div class="form-group">
            <label for="login">Ваш телефон</label>
            <input type="text"  ng-model="vm.tel" pattern="[0-9]{11}" class="form-control" required id="login" placeholder="899980002020 (пример)">
        </div>
        <div ng-if="vm.check">
            <span class="alert" ng-if="vm.verify" class="alert-success">{{ vm.msg.message }}</span>
            <span class="alert" ng-if="!vm.verify" class="alert-warning">{{ vm.msg.message }}</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Запрос пароля в СМС</button>
        </div>
    </form>
    <p><small>Нет учетной записи? <a ui-sref="auth.sign-in">Зарегистрируйтесь</a></small></p>
</div>
