<div>
    <p ng-hide="!vm.verify">Вы успешно зарегистрировались на сайте и будете перенаправлены на страницу входа в личный кабинет</p>
</div>
<div ng-hide="vm.verify" class="container  auth" ng-controller="UserMainController as vm">
    <h2 class="text-center">Регистрация на сайте KorKit.ru</h2>
    <!--<small><a  class="text-center" >Прочитайте условия регистрации на сайте</a></small>-->
    <form ng-submit="vm.create()">
        <div class="form-group">
            <label for="name">Ваше имя</label>
            <input type="text" ng-model="vm.name" class="form-control" required id="name" placeholder="">
        </div>

        <div class="input-group">
            <label for="storage" class="w-100">Пункт выдачи заказа:</label>
            <select required ng-model="vm.storage" class="custom-select" id="storage">
                <option disabled selected>Адрес магазина</option>
                <option value="autoLavka">г.Бийск, ул. Советская, 60</option>
                <option value="euroAuto">г.Бийск, ул. Мерлина, 11</option>
                <option value="nsk">г.Новосибирск, Николая Островского, 120</option>
            </select>
        </div>

        <div class="form-group">
            <label for="tel">Ваш телефон</label>
            <input type="text"  ng-model="vm.tel" pattern="[0-9]{11}" class="form-control" required id="tel" placeholder="899980002020 (пример)">
        </div>
        <div class="form-group">
            <label for="email">Ваш email</label>
            <input type="text" ng-model="vm.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" class="form-control" required id="email" placeholder="example@mail.com">
        </div>
        <div class="form-group">
            <label for="pass">Пароль</label>
            <input type="password" required ng-model="vm.password" class="form-control" required id="pass" placeholder="****">
        </div>
        <div class="form-group shopping-info" style="font-size: 13px;">
            <ul style="list-style: none">
                <li ng-repeat="item in vm.list" ><a ui-sref="page({ page: item._id})">{{ item.title }}</a></li>
            </ul>
            <label for="confirm">
                <input type="checkbox" ng-model="confirm" name="confirm" id="confirm"> Подтверждаю, что ознакомился с документами выше и
                <br> <b>даю свое согласие на обработку персональных данных</b></label>
        </div>

        <div class="form-group">
            <input type="submit" ng-disabled="!confirm" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        </div>

    </form>
    <!--<p><small>Нет учетной записи? <a ui-sref="auth.sign-in">Зарегистрируйтесь</a></small></p>-->
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Подтвердите ваш телефон</h3>
    </div>
    <div class="modal-body" id="modal-body">
        {{mc.item}}
        <label for="code">Дождитесь СМС и введите код.</label>
        <input required pattern="[0-9]{4}" maxlength="4" type="text" ng-model="mc.code" for="code" id="code" placeholder="">
        <p>Актуальность кода: <b>{{mc.codeExpires}}</b> сек.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mc.ok()">Подтвердить</button>
        <button class="btn btn-warning" type="button" ng-click="mc.cancel()">Отменить</button>
    </div>
</script>

