<div ng-controller="OrderController as oc" ng-init="oc.getOrder()">
    <h2>Детали заказа </h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li ng-class="{'alert-warning': oc.order.status === 'pending', 'alert-success': oc.order.status === 'done', 'text-muted': oc.order.status === 'archive'}" class="list-group-item">
                        Статус заказа:
                        <b ng-if="oc.order.status === 'pending'">В ожидании</b>
                        <b ng-if="oc.order.status === 'done'">Готов</b>
                        <b ng-if="oc.order.status === 'archive'">Архив</b>
                    </li>
                    <li class="list-group-item">Номер заказа: {{oc.order.orderNumber}}</li>
                    <li class="list-group-item">Дата заказа: {{oc.order.created | date}}</li>
                    <li class="list-group-item">Пункт выдачи: {{oc.order.address}}</li>
                    <li class="list-group-item">Обратный телефон: {{oc.order.user.phone}}</li>
                    <li class="list-group-item">email для связи: {{oc.order.user.email}}</li>
                    <li class="list-group-item">Стоимость заказа: {{oc.order.cost}}</li>
                </ul>
            </div>
            <div class="card-block">
                <a style="width: 100%;" class="mt-3 btn btn-primary">Написать запрос по заказу</a>
                <a style="width: 100%;" class="mt-3 btn btn-success">Оставить запрос на звонок</a>
            </div>
        </div>
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>OEM</th>
                    <th>Наименование</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in oc.order.items">
                        <td>{{item.vin}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.orderCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container my-3">

        <h2>Ваши запросы по заказу</h2>

        <div ng-repeat="ticked in oc.tickeds" class="row d-flex" ng-class="{'justify-content-end': !ticked.isAnswer, 'justify-content-start': ticked.isAnswer}">
            <div class="col-8 col-lg-6 col-md-6 col-sm-6 alert" ng-class="{'alert-success text-right': !ticked.isAnswer, 'alert-primary': ticked.isAnswer}">
                <span class="text-muted">{{ticked.date | date}} .{{ticked.name}}</span>
                <p>{{ticked.body}}</p>
            </div>
        </div>

        <form class="text-right">
            <textarea ng-model="oc.body" name="message" id="message" cols="30" rows="10" class="col-12 mt-3 form-control"></textarea>
            <button class="btn btn-success text-right my-3" ng-click="oc.onSubmit()" type="submit">Отправить запрос</button>
        </form>

    </div>

</div>