@import './../../../core/scss/layout';
@import './../../../core/scss/mixins.scss';
.mobile-category-block {
    margin-bottom: $mar-btn;
    img {
        padding: 20px 0;

    }
    .col-6:first-child {
        border-right: none;
        border-bottom: none;
    }
    .col-6:nth-child(2){
        border-bottom: none;
    }
    .col-6:nth-child(3){
        border-right: none;
    }
    .col-12:nth-child(5){
        border-top: none;
    }
    .col-6,.col-12{
        border: 2px solid $maincolor;
        min-height: 150px;
        padding: 15px;
        color: $maincolor;
    }

}
.category-block-item {
    padding: 0;
    width: 100%;
    p{
        color: transparent;
        @include translition;
    }
    p.active{
        color: white;
        @include translition;
    }
}
.category-boxes-item {
    background-color: transparent;
    @include translition;
}
.category-boxes {
    vertical-align: middle;
    list-style: none;
    display: flex;
    text-align: center;
    padding-left: 0;
}
.category-boxes-item {
    background: transparent;
    color: #fff;
    min-height: 176px;
    margin-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.oil{
    background-image: url('../img/oil.png');
}
.acs{
    background-image: url('../img/acs.png');
}
.battary{
    background-image: url('../img/battary.png');
}
.to{
    background-image: url('../img/to.png');
}
.glass{
    background-image: url('../img/glass.png');
}
.category-boxes-item:hover {
    background-color: #352e74;
    background-blend-mode: multiply;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.category-boxes-item:last-child {
    margin-right: 0 !important;
}