<div class="row">
    <div class="col-lg-4" ng-init="vm.getUserById()">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Регистрация нового покупателя</h3>
            </div>


            <form>
                <div class="form-group">
                    <label for="InputPassword1">Имя</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="InputPassword1">Фамилия</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="InputPassword1">Телефон</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="Textarea">Адрес</label>
                    <textarea class="form-control" id="Textarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="InputEmail1">Электронная почта</label>
                    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Мы не рассылаем спам.</small>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Я согласен с условием регистрации.
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Добавить пользователя</button>
            </form>


            <!--<ul class="list-group list-group-flush">-->
                <!--<li class="list-group-item">Имя : <b>{{vm.customer.firstName}}</b></li>-->
                <!--<li class="list-group-item">Фамилия : <b>{{vm.customer.lastName}}</b></li>-->
                <!--<li class="list-group-item">email : <b>{{vm.customer.email}}</b></li>-->
                <!--<li class="list-group-item">Телефон : <b>{{vm.customer.phone}}</b></li>-->
                <!--<li class="list-group-item">Статус : <b>{{vm.customer.email}}</b></li>-->
                <!--<li class="list-group-item">Количество заказов : <b>{{vm.customer.orders.length}}</b></li>-->
            <!--</ul>-->
            <div class="card-block">
                <a class="card-link" href="mailto:{{vm.customer.email}}">Отправить email</a>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table table-striped table-bordered table-hover" id="dataTables-">
            <thead>
            <tr>
                <th>Дата заказа</th>
                <th>Номер заказа</th>
                <th>Общая стоимость</th>
                <th>Количество товаров</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-style="{background: item.status =='done' ? 'rgba(43, 255, 18, 0.49)' : item.status =='pending' ? 'rgba(255, 255, 0, 0.49)' : 'rgba(128, 128, 128, 0.49)'}" ui-sref="dashboard.order( { id: item._id } )" style="cursor: pointer" ng-repeat="item in vm.customer.orders">
                <td> {{item.created | date}} </td>
                <td> {{item.orderNumber}} </td>
                <td> {{item.cost}} </td>
                <td> {{item.items.length}} </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>