<h2 class="text-center">Служба поддержки клиентов Korkit.ru</h2>
<div ng-if="!sc.nextStep" class="row block">
    <div class="col-4">
        <img src="/customer-service.png" alt="">
    </div>
    <div class="contact-form col-8" >
        <p>Оставьте свое сообщение.</p>
        <p ng-if="sc.danger" class="text-danger small" ng-bind="sc.danger"></p>
        <form ng-if="!sc.loader">
            <div class="row d-flex justify-content-start">
                <div class="form-group col">
                    <label  for="name">Имя*</label>
                    <input type="text" ng-model="sc.name" name="name" id="name" required>
                </div>
                <div class="form-group col">
                    <label  for="tel">Телефон*</label>
                    <input placeholder="89995551010 (пример)" type="text" ng-model="sc.telephone" name="tel" id="tel" pattern="\d{11}" required>
                </div>
                <div class="form-group col">
                    <label  for="email">Эл. почта</label>
                    <input placeholder="example@mail.ru (пример)" type="text" ng-model="sc.email" name="email" id="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
            </div>
            <div class="row d-flex">
                <div class="form-group col">
                    <label for="message">Сообщение*</label>
                    <textarea name="message" ng-model="sc.textarea" id="message" cols="30" rows="10" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <input style="float: right" type="button" class="btn btn-primary" ng-click="sc.sendMail()" value="Отправить">
            </div>
        </form>
        <div ng-if="sc.loader" class="col-12 col-md-12 col-lg-12 col-sm-12">
            <div class="mx-auto text-center sale-block container">
                <p ng-bind="sc.message"></p>
                <img style="width: 20%" src="loader.gif" alt="Загрузка товаров...">
            </div>
        </div>
    </div>
</div>

<div ng-if="sc.nextStep" class="row block d-flex vh-50 justify-content-center">

    <div style="min-height: 50vh;" class="row align-items-center">
        <div class="col text-center">
            <i ng-if="sc.status !== 'error'" class="text-success mb-3 fa fa-3x fa-check"></i>
            <i ng-if="sc.status === 'error'" class="text-warning  mb-3 fa fa-3x fa-times"></i>
            <p ng-bind="sc.message"></p>
        </div>
    </div>

</div>


<div class="container contact-block">
    <h2 class="text-center">Так же можете обратиться в офис компании</h2>
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
            <maps></maps>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <contact tel="+7-913-985-03-83" adress="г. Новосибирск: ул Николая Островского, 120 (на пересечении ул Ипподромской и ул. Писарева, вход со стороны ул.Писарева" email="korkitzap@gmail.com"></contact>
        </div>
    </div>
</div>
