<h2 ng-init="pc.getPage()" class="text-center mb-5">{{pc.page.title}}</h2>

<div class="col-12" >
    <!--<h2>{{pc.page.title}}</h2>-->
    <pre ng-repeat="parag in pc.page.body" class="text-justify">
               {{ parag }}
            </pre>
</div>