<h2 class="text-center">Доставка заказа{{info.title}}</h2>
<div class="info-news delivery">

</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores, corporis culpa eum eveniet ipsa ipsam iste itaque minus nobis nulla obcaecati perspiciatis quam quas quisquam saepe sequi temporibus voluptatum. Atque consequatur error exercitationem, illo ipsum odio quaerat quia sunt voluptate voluptates! Doloremque enim est, nesciunt optio perspiciatis sunt tempora.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores, corporis culpa eum eveniet ipsa ipsam iste itaque minus nobis nulla obcaecati perspiciatis quam quas quisquam saepe sequi temporibus voluptatum. Atque consequatur error exercitationem, illo ipsum odio quaerat quia sunt voluptate voluptates! Doloremque enim est, nesciunt optio perspiciatis sunt tempora.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores, corporis culpa eum eveniet ipsa ipsam iste itaque minus nobis nulla obcaecati perspiciatis quam quas quisquam saepe sequi temporibus voluptatum. Atque consequatur error exercitationem, illo ipsum odio quaerat quia sunt voluptate voluptates! Doloremque enim est, nesciunt optio perspiciatis sunt tempora.</p>