<h2 class="text-center">Оплата заказа</h2>
<div class="container">
    <div class="pay-rules">

        <ul>
            <li><a ng-href="#cash-pay">Наличный расчет</a></li>
            <li><a ng-href="#credit-card">Банковской картой</a></li>
            <li><a ng-href="#net-money">Оплата через интернет</a></li>
            <li><a ng-href="#bank-bill">Банковский перевод</a></li>
            <li><a ng-href="#gift">Подарочный сертификат</a></li>
            <li><a ng-href="#personal-bill">Пользовательский счет</a></li>
        </ul>

        <div id="cash-pay" class="row justify-content-md-center container-pay-rules">
            <h2>Наличный расчет</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci debitis, eos et explicabo fuga id incidunt laboriosam maxime necessitatibus nemo nesciunt odit optio quidem quod, rem sunt? Ab asperiores dolor eligendi ex inventore laborum perspiciatis tenetur vero voluptate voluptatibus. Ad debitis ea laborum officia perspiciatis quia quod, soluta tempore! Beatae blanditiis commodi cumque, minus quas rem sequi veritatis voluptatibus.</p>
            <div class="col-12 col-lg-9 col-md-9 col-sm-9">
                <maps></maps>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-sm-3">
                <contact tel="89537760450" adress="г.Новосибирск ул. Ипподромская 160" email="someexapmle@email.com"></contact>
            </div>
        </div>

        <div id="credit-card" class="row justify-content-md-center container-pay-rules">
            <h2>Банковской картой</h2>
            <p class="pay-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci debitis, eos et explicabo fuga id incidunt laboriosam maxime necessitatibus nemo nesciunt odit optio quidem quod, rem sunt? Ab asperiores dolor eligendi ex inventore laborum perspiciatis tenetur vero voluptate voluptatibus. Ad debitis ea laborum officia perspiciatis quia quod, soluta tempore! Beatae blanditiis commodi cumque, minus quas rem sequi veritatis voluptatibus.</p>
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item master">
                    <h5>Master Card</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ratione, vero?</small></p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item visa">
                    <h5>VISA</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, repellat.</small></p>
                </div>
            </div>
        </div>

        <div id="net-money" class="row justify-content-md-center container-pay-rules">
            <h2>Оплата через интернет</h2>
            <p class="pay-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci debitis, eos et explicabo fuga id incidunt laboriosam maxime necessitatibus nemo nesciunt odit optio quidem quod, rem sunt? Ab asperiores dolor eligendi ex inventore laborum perspiciatis tenetur vero voluptate voluptatibus. Ad debitis ea laborum officia perspiciatis quia quod, soluta tempore! Beatae blanditiis commodi cumque, minus quas rem sequi veritatis voluptatibus.</p>

            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item round wm">
                    <h5>Webmoney</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ratione, vero?</small></p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item round sb">
                    <h5>Sberbank</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, repellat.</small></p>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item round yd">
                    <h5>Yandex.деньги</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ratione, vero?</small></p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item qw">
                    <h5>Qiwi-оплата</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, repellat.</small></p>
                </div>
            </div>

        </div>

        <div id="bank-bill" class="row justify-content-md-center container-pay-rules">
            <h2>Банковский перевод</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci debitis, eos et explicabo fuga id incidunt laboriosam maxime necessitatibus nemo nesciunt odit optio quidem quod, rem sunt? Ab asperiores dolor eligendi ex inventore laborum perspiciatis tenetur vero voluptate voluptatibus. Ad debitis ea laborum officia perspiciatis quia quod, soluta tempore! Beatae blanditiis commodi cumque, minus quas rem sequi veritatis voluptatibus.</p>
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item round p">
                    <h5>Банковский перевод</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ratione, vero?</small></p>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 pay-item round wu">
                    <h5>Western union</h5>
                    <p class="pay-visa"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, repellat.</small></p>
                </div>
            </div>
        </div>
        <div id="gift" class="row justify-content-md-center container-pay-rules">
            <h2>Подарочный сертификат</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci debitis, eos et explicabo fuga id incidunt laboriosam maxime necessitatibus nemo nesciunt odit optio quidem quod, rem sunt? Ab asperiores dolor eligendi ex inventore laborum perspiciatis tenetur vero voluptate voluptatibus. Ad debitis ea laborum officia perspiciatis quia quod, soluta tempore! Beatae blanditiis commodi cumque, minus quas rem sequi veritatis voluptatibus.</p>
        </div>
        <div id="personal-bill" class="row justify-content-md-center container-pay-rules">
            <h2>Пользовательский счет</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci debitis, eos et explicabo fuga id incidunt laboriosam maxime necessitatibus nemo nesciunt odit optio quidem quod, rem sunt? Ab asperiores dolor eligendi ex inventore laborum perspiciatis tenetur vero voluptate voluptatibus. Ad debitis ea laborum officia perspiciatis quia quod, soluta tempore! Beatae blanditiis commodi cumque, minus quas rem sequi veritatis voluptatibus.</p>
            <div class="row justify-content-md-center">
                <div class="container text-center">
                <button ui-sref="auth.sign-in" class="btn btn-primary">Зарегистрироваться</button>
                <button ui-sref="auth.login" class="btn btn-primary">Войти</button>
                </div>
            </div>
        </div>

    </div>
</div>