<h2 class="text-center">Условия возврата и гарантии{{info.title}}</h2>
<div class="info-news guarantee">
</div>
<p>Возврат и обмен запасных частей надлежащего качества производится  в установленном законом порядке. Покупатель вправе в течение 14 дней произвести обмен (возврат) запасной части в случае, если запасная часть не подходит на автомобиль,  в соответствии с каталогами соответствующих производителей, либо в каталогах соответствующих производителей представлена ошибочная информация.</p>
        <h2>ВНИМАНИЕ</h2>
        <p>Обмен (возврат) запасных частей осуществляется лишь при наличии товарного вида, неповрежденной упаковки со всеми необходимыми этикетками и наклейками на упаковке, и на самих запасных частях.</p>
        <p>Запасные части, имеющие следы установки на автомобиль и находящиеся в рабочем состоянии к возврату не принимаются и не обмениваются.</p>
        <p>Электрические запасные части обмену (возврату) не подлежат.</p>
        <p>Запасные части привезенные «под заказ», и не пригодившиеся в процессе ремонта, возврату НЕ ПОДЛЕЖАТ!</p>
        <p>Если запасная часть была заказана без VIN номера или Вы сами выбрали и  сказали каталожный номер запчасти, то риск неправильного заказа остается за Вами. Такие запчасти возврату не подлежат.</p>
        <p>Неоригинальные запчасти, у которых имеются конструктивные отличия от соответствующих оригинальных запчастей, но которые, тем не менее, могут быть установлены на автомобиль (в том числе с помощью дополнительных трудозатрат на сервисной станции) обмену и возврату не подлежат.</p>
        <p>Официальная замена номеров запасных частей производителем не является причиной для отказа (возврата) детали со стороны покупателя, если при этом не производится перерасчет цены запасной части по сравнению с первоначальной ценой.</p>
        <p>При заказе запасных частей «под заказ», вносится предоплата в размере от 50%  стоимости детали.</p>