<div class="modal">
    <div class="row align-items-center">
        <div ng-if="!sup.nextStep" class="modal-window container col-3">
            <p class="btn-close-modal" ng-click="close()">x</p>
            <div id="header">
                <h6>{{modalHeader}}</h6>
            </div>
            <p ng-if="sup.danger" class="small" ng-bind="sup.danger"></p>
            <form ng-if="!sup.loader">
                <div id="body">
                    <label for="name">Ваше имя*</label><br>
                    <input ng-model="sup.name" type="text" name="name" id="name"><br>
                    <label for="tel">Ваш номер телефона*</label><br>
                    <input ng-model="sup.telephone" type="text" name="tel" id="tel"><br>
                </div>
                <div id="footer">
                    <input type="button" ng-click="sup.sendSupport()" class="btn btn-primary" value="Отправить">
                </div>
            </form>
            <div ng-if="sup.loader" class="col-12 col-md-12 col-lg-12 col-sm-12">
                <div class="mx-auto text-center sale-block container">
                    <p ng-bind="sup.message"></p>
                    <img style="width: 20%" src="loader.gif" alt="Загрузка товаров...">
                </div>
            </div>
        </div>

        <div ng-if="sup.nextStep" class="modal-window container col-3">
            <div style="min-height: 50vh;" class="row align-items-center">
                <div class="col text-center">
                    <i ng-if="sup.status !== 'error'" class="text-success mb-3 fa fa-3x fa-check"></i>
                    <i ng-if="sup.status === 'error'" class="text-warning  mb-3 fa fa-3x fa-times"></i>
                    <p ng-bind="sup.message"></p>
                    <p class="btn-close-modal mt-5" ng-click="close()">Закрыть</p>
                </div>
            </div>
        </div>
    </div>
</div>