<div class="panel panel-default">
    <div class="panel-heading">
        Список товаров в базе
        <input ng-model="searchPattern" type="text" name="parts" id="parts">
        <button ng-click="vm.getParts(searchPattern,0,10)" class="btn btn-primary">Запрос</button>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body" ng-init="vm.getParts(0,0,10)">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th width="100px">Производитель</th>
                    <th>VIN</th>
                    <th>АЛ</th>
                    <th>ЕА</th>
                    <th width="50px">НСКОст.</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.parts">
                    <td>{{item.name}}</td>
                    <td>{{item.brand}}</td>
                    <td>{{item.vin}}</td>
                    <td>{{item.stocks[0].count}}</td>
                    <td>{{item.stocks[1].count}}</td>
                    <td>{{item.stocks[2].count}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <button ng-click="vm.addToList(item._id)"><i class="fa fa-circle-o"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination">
                    <li>
                        <span>Записей всего: {{vm.stat.count}}</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-disabled="vm.stat.prev == 0" ng-click="vm.getParts(searchPattern,vm.stat.prev, 10)">Назад</a>
                    </li>
                    <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,stat.prev, 10)">{{vm.stat.prev+1}}</a></li>
                    <li class="page-item active">
                              <span class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.pageIs, 10)">
                                {{vm.stat.pageIs+1}}
                                <span class="sr-only">(current)</span>
                              </span>
                    </li>
                    <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">{{vm.stat.next+1}}</a></li>
                    <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next+1, 10)">{{vm.stat.next++2}}</a></li>
                    <li class="page-item">
                        <a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">Вперед</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.panel-body -->
</div>