@import "../../core/scss/variables";
@import "../../core/scss/mixins";
.part-name {
  font-size: 14px;
  @include wrap;
}
small {
  @include wrap;
}
.disable {
  color: #bfbdbd!important;
  background: #f0f0f061!important;
  border: 1px solid #bfbdbd!important;
}
thead {
  background: #f0f0f0;
  th {
    font-size: 13px;
    font-weight: 400;
    color: #a0a0a0;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0.5px solid #dee2e6;
}
.table {
  .btn-link {
    font-size: 14px;
    line-height: 0.5;
  }
}

.count-input {
  max-width: 45px;
  height: 24px;
  text-align: right;
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 0.5px solid #28a745;
}
.table tr td {
  border-bottom: 0.5px solid #dee2e6;
}
.non-border {
  border: none!important;
}
.tr-spacer {
  border-top: 1px solid #f0f0f0;
  padding-top: 5px;
}
.autocatalog-block {
  margin: 15px 0;
}
.storage {
  font-size: 13px;
}
.modal-address {
  position: absolute;
  padding: 15px;
  background: white;
  border: 1px solid;
  z-index: 9;
}
.parts-list {
  .parts-list-block {

    border: $mainborder;
    margin-bottom: $mar-btn;

    .vin-cross{
      padding-left: 2rem;
      position: absolute;
      left: 0;
      //line-height: 5;
    }
    .vin-capital {
      margin-top: 5px;
      font-size: 14px;
    }
    .text-center {
      margin:5px 0;
    }
  }
  .parts-list-block:nth-child(1) {
    border-top: none;
  }
}
.footer-sale-block {
  padding-bottom: 15px;
}
.sale-block {
  border: $mainborder;
  margin-bottom: $mar-btn;
  color: #000;
  background: #fff;
  @include translition;
}
.add-button {
  padding: 5px;
  font-size: 12px;
  color: #fff !important;
}

.btn-count-control {
  width: 30px;
  height: 30px;
  line-height: 0;
  margin-top: -2px;
}
.sale-block:hover {
  color: #fff;
  background: $maincolor;
  @include translition;
}

.sale-block.disable:hover {
  color: #bfbdbd!important;
  background: #f0f0f061!important;
  border: 1px solid #bfbdbd!important;
}
.item-price {
  font-weight: 700;
  text-align: right;
  background: #f0f0f0;
}
.vin-capital {
  text-transform: uppercase;
  font-weight: 700;
}
.vin-title-block {
  margin-bottom: 45px;
}
.vin-price {
  line-height: 20px;
  padding-bottom: 15px;
}
.vin-title, .vin-price {
  font-size: 1.5em;
}
.parts-item-row {
  border: $mainborder;
}
.parts-item-row div:first-child {
  border-right: $mainborder;
}
.parts-item-row div:nth-child(3) {
  border-right: $mainborder;
  border-left: $mainborder;
}

.table td, .table th {
  border-top: none;
}
.brand-list-item {
  padding: 10px;
  border: 1px solid #333;
  background: rgba(54, 47, 115, 0.83);
  color: #fff;
}

.loader {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  height: 100vh;
  opacity: 1;
  z-index: 900;
  @include translition;
}
.hidden-loader {
  opacity: 0!important;
  @include translition;
}
