<h2 class="text-center">О нашей компании{{info.title}}</h2>
<div class="info-news about-img"></div>
<h3 class="text-center">Мы рады приветствовать Вас в нашем интернет магазине!</h3>
   <p> Компания  «КОРКИТ» предлагает Вам большой выбор автозапчастей для автомобилей корейского, европейского, китайского и американского производства . Мы начали свою работу на рынке по продаже автозапчастей в 2000 году ,и постоянно  ведем работу по увеличению ассортимента автозапчастей на наших складах и  в наших магазинах. У нас представлены только качественные детали от ведущих мировых производителей в различных конфигурациях. Наши консультанты ответят на все интересующие Вас вопросы, порекомендуют  надежные оригинальные запчасти для автомобилей и  посоветуют какие аналоги лучше выбрать, чтобы автомобиль служил долго.</p>
   <p> На сегодняшний день  предлагаем огромный ассортимент, более 15000 наименований  товара,  как оригинальных запасных частей: HYUNDAI, SSANGIONG, KIA так и бренды авторитетных производителей, таких  как: NGK, BOSCH, DENSO, ILJIN, SKF, CTR, FEBEST, ASVA,  AMD,  SSANG SHIN, DAEWOO, MANDO,  KAYABA и т.д.. .</p>

   <p> В магазинах представлен не весь ассортимент товара, часть товара находится на нашем складе, что позволяет быстро доставить его в магазины.</p>

<p> При посещении наших магазинов  квалифицированные продавцы- консультанты производят подбор нужной Вам детали для ремонта вашего автомобиля. Если деталь находиться на складе мы доставим ее в магазин в кротчайшие сроки..</p>
<p> Если необходимого Вам товара не окажется у нас в наличие, то продавцы подберут наиболее быстрый и выгодный способ  заказа у наших партнеров..</p>
<p>В случае необходимости  мы  можем организовать  доставку приобретенного Вами товара.
    Для иногородних компаний и клиентов предусмотрена  доставка через выбранную Вами транспортную компанию. Стоимость доставки оговаривается индивидуально..</p>
<p> Посетив наши  магазины ,также  вы  сможете приобрести сопутствующие товары, которые также представлены в ассортименте, это: Масла, Автолампы, Щетки, Различные аксессуары ,Средства первой необходимости (аптечка, огнетушитель, аварийный знак и т.д.), Проставки для увеличения дорожного просвета и многие  другие необходимые вещи..</p>
    <p>Мы очень ценим наших покупателей и стараемся сделать все, чтобы  любой , обратившийся к нам, получил все необходимое.</p>
    <p>Мы ждем Вас за покупками и надеемся, что вы останетесь довольны и обратитесь к нам еще ни один раз.
    Добро пожаловать в наши магазины!</p>

<div class="container contact-block">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
            <maps></maps>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <contact tel="+7-913-985-03-83; 213-03-83" adress="г. Новосибирск: ул Николая .Островского 120 (на пересечении ул Ипподромской  и ул. Писарева, вход со стороны ул.Писарева. " email="korkitzap@gmail.com"></contact>
        </div>
    </div>
</div>
