footer {

  a:not([href]):not([tabindex]) {
    color: #fff;
  }
  a:not([href]):not([tabindex]):hover{
    text-decoration: underline;
    color: #fff;
  }

  .footer-column{

    a{
      cursor: pointer;
    }
    a:hover{
      text-decoration: underline;
    }

    h6{
      cursor: default;
    }

  }

}