@import './../../../core/scss/layout';
@import './../../../core/scss/mixins.scss';

.modal.active{
  display: block;
  text-align: center;
  background: rgba(0, 0, 0, 0.95);
  @include translition;

  .modal-window {
    top: 0!important;
    bottom: -60px;
    @include translition;
  }
}
.modal{
  text-align: center;
  background: rgba(0, 0, 0, 0);
  @include translition;

  .modal-window.active{
    top: 0!important;
    bottom: -60px;
    @include translition;
  }

  .modal-window {
    top: -9999px;
    padding: 0.5em 2em;
    color: #fff;
    background: $maincolor;
    @include translition;
    .btn-close-modal {
      position: absolute;
      right: 0;
      cursor: pointer;
      padding: 0px 10px;
    }
    input {
      width: 100%;
    }
    #header {
      h6{
        margin-bottom: 0.5em;
      }
      padding: 15px 0;
    }
    #body{
      margin-bottom: 15px;
      label {
        font-size: 14px;
        margin-bottom: 0.3em;
      }
    }
    #footer{
      margin-bottom: 15px;
      .btn-primary {
        background: transparent;
        border: 1px solid #fff !important;
        width: 100%;
      }
    }
  }
}