<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Список покупателей</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <customer-add></customer-add>
    <orders></orders>
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
