
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Детальная информация</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">

    <customer></customer>

    <orders></orders>

</div>

