<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Страница добавления товара на сайт</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <import></import>
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--Дабавление запчасти-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<div class="row">-->

                    <!--&lt;!&ndash;<div class="col-lg-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Text Input</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="help-block">Example block-level help text here.</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Text Input with Placeholder</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control" placeholder="Enter text">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Static Control</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="form-control-static">email@example.com</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>File input</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="file">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Text area</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<textarea class="form-control" rows="3"></textarea>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Checkboxes</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="checkbox" value="">Checkbox 1&ndash;&gt;-->
                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="checkbox" value="">Checkbox 2&ndash;&gt;-->
                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="checkbox" value="">Checkbox 3&ndash;&gt;-->
                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Inline Checkboxes</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="checkbox-inline">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="checkbox">1&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="checkbox-inline">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="checkbox">2&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="checkbox-inline">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="checkbox">3&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Radio Buttons</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio 1&ndash;&gt;-->
                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2&ndash;&gt;-->
                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3&ndash;&gt;-->
                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Inline Radio Buttons</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="radio-inline">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="radio-inline">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="radio-inline">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Selects</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<select class="form-control">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>1</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>2</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>3</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>4</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>5</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Multiple Selects</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<select multiple class="form-control">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>1</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>2</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>3</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>4</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>5</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="submit" class="btn btn-default">Submit Button</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="reset" class="btn btn-default">Reset Button</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</form>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-lg-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Название детали</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="help-block">Название детали например: Маслянный фильтр</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>VIN код</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="help-block">VIN код запчасти</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label for="">Новосибирск</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Количество</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="help-block">Количество запчастей в Новосибирске</p>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Цена</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="help-block">Цена в Новосибирске</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label for="">Склад</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Количество</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="help-block">Количество запчастей на складе</p>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Цена</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="help-block">Цена на складе</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--&lt;!&ndash;<button type="submit" class="btn btn-default">Добавить в базу</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="reset" class="btn btn-default">Очистить поля ввода</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</form>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash; /.col-lg-6 (nested) &ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-lg-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<h1>Disabled Form States</h1>&ndash;&gt;-->
                        <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                            <!--&lt;!&ndash;<fieldset disabled>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label for="disabledSelect">Disabled input</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label for="disabledSelect">Disabled select menu</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<select id="disabledSelect" class="form-control">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option>Disabled select</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="checkbox">Disabled Checkbox&ndash;&gt;-->
                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="submit" class="btn btn-primary">Disabled Button</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</fieldset>&ndash;&gt;-->
                        <!--&lt;!&ndash;</form>&ndash;&gt;-->
                        <!--&lt;!&ndash;<h1>Form Validation States</h1>&ndash;&gt;-->
                        <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group has-success">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="control-label" for="inputSuccess">Input with success</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control" id="inputSuccess">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group has-warning">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="control-label" for="inputWarning">Input with warning</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control" id="inputWarning">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group has-error">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="control-label" for="inputError">Input with error</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control" id="inputError">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</form>&ndash;&gt;-->
                        <!--&lt;!&ndash;<h1>Input Groups</h1>&ndash;&gt;-->
                        <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group input-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="input-group-addon">@</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Username">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group input-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="input-group-addon">.00</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group input-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="input-group-addon"><i class="fa fa-eur"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Font Awesome Icon">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group input-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="input-group-addon">$</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="input-group-addon">.00</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group input-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button class="btn btn-default" type="button"><i class="fa fa-search"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</form>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash; /.col-lg-6 (nested) &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.row (nested) &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
        <!--</div>-->
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>