<div class="row" ng-init="vm.getOne()">
    <div class="col-lg-12">
        <h1 class="page-header">Редактирование новости</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <img src="{{vm.imageUrl}}" alt="">
</div>
<div class="row">
    <div class="col-lg-12">
        <form>
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input ng-model="vm.title" type="text" class="form-control" id="title" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="body">Статья</label>
                <textarea class="form-control" ng-model="vm.body" name="body" id="body" cols="30" rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label>Изменения картинки для статьи</label>
                <input type="file" file-model="myFile" />
                <p class="help-block">Добавьте изображение для изменения текущего/p>
            </div>
            <div class="row d-flex justify-content-between">
            <button type="submit" ng-click="vm.update()" class="btn btn-primary">Обновить новость</button>
            <button ng-click="vm.delete()" class="btn btn-danger">Удалить новость!</button>
            </div>
        </form>
    </div>
</div>