<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Опубликованные новости</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Новости
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" ng-init="vm.getList(0,10)">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Опубликовано</th>
                                <th>Автор</th>
                                <th>Заголовок</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ui-sref="dashboard.news-edit({ id: item._id})" ng-repeat="item in vm.news">
                                <td>{{item.date | date}}</td>
                                <td>{{item.author}}</td>
                                <td>{{item.title}}</td>
                                <td>Опубликовано</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<nav aria-label="...">-->
                        <!--<ul class="pagination">-->
                            <!--<li>-->
                                <!--<span>Записей всего: {{vm.stat.count}}</span>-->
                            <!--</li>-->
                            <!--<li class="page-item">-->
                                <!--<a class="page-link" ng-disabled="vm.stat.prev == 0" ng-click="vm.getParts(searchPattern,vm.stat.prev, 10)">Назад</a>-->
                            <!--</li>-->
                            <!--<li class="page-item"><a class="page-link" ng-hide="vm.stat.prev === 0" ng-click="vm.getParts(searchPattern,vm.stat.prev, 10)">{{vm.stat.prev+1}}</a></li>-->
                            <!--<li class="page-item active">-->
                              <!--<span class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.pageIs, 10)">-->
                                <!--{{vm.stat.pageIs+1}}-->
                                <!--<span class="sr-only">(current)</span>-->
                              <!--</span>-->
                            <!--</li>-->
                            <!--<li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">{{vm.stat.next+1}}</a></li>-->
                            <!--<li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next+1, 10)">{{vm.stat.next++2}}</a></li>-->
                            <!--<li class="page-item">-->
                                <!--<a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">Вперед</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</nav>-->
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <button ui-sref="dashboard.news-create" class="btn btn-primary">Опубликовать новость</button>
    </div>
</div>
