<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Опубликуйте новость или акцию</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <form>
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input ng-model="vm.title" type="text" class="form-control" id="title" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="body">Статья</label>
                <textarea class="form-control" ng-model="vm.body" name="body" id="body" cols="30" rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label>Изображение для статьи (Обезательно)</label>
                <!--<input type="file" id="image" onchange="angular.element(this).scope().uploadFile(this.files)">-->
                <input type="file" file-model="myFile"  required/>
                <p class="help-block">Для лучшего отображение в статье обязательно наличие изображения</p>
            </div>
            <button type="submit" ng-click="vm.sendPost(true)" class="btn btn-default">Публикация</button>
        </form>
    </div>
</div>