<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Детальная информация о заказе</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4" ng-init="vm.getOrder()">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title text-center">Заказ: {{vm.order.orderNumber}}</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Дата заказа: <b>{{vm.order.created | date}}</b></li>
                <li class="list-group-item">Покупатель:
                    <a ng-if="!vm.order.guestInfo" ui-sref="dashboard.customer( { id: vm.order.user._id } )">
                        <b >{{vm.order.user.firstName}} {{vm.order.user.lastName}}</b>
                    </a>
                    <b ng-if="vm.order.guestInfo">{{vm.order.name}} (не зарег.)</b>
                </li>
                <li class="list-group-item" ng-if="vm.order.defaultStorage">Адрес доставки: <b>{{ vm.order.defaultStorage === 'nsk' ? 'НСКОстровского' : vm.order.defaultStorage === 'euroAuto' ?  'ЕвроАвто' : 'АвтоЛавка' }}</b></li>
                <!--<li class="list-group-item" ng-if="!vm.order.address">Адрес доставки: <b>Не указан</b></li>-->
                <li class="list-group-item" >Статус заказа:
                    <b ng-if="vm.order.status === 'pending'" style="color: yellow">В ожидании</b>
                    <b ng-if="vm.order.status === 'done'" style="color: green">Готов</b>
                    <b ng-if="vm.order.status === 'archive'" style="color: grey">Архив</b>
                </li>
                <li class="list-group-item">Количество товаров: <b>{{vm.sum().count}}</b></li>
                <li class="list-group-item">Общая стоимость: <b>{{vm.sum().sum}}</b></li>
            </ul>
            <form name="orderForm">
                <div class="form-group">
                    <label for="exampleSelect1">Изменить статус заказа</label>
                    <select class="form-control"
                            id="exampleSelect1"
                            name="statusOrder"
                            ng-options="option.name for option in vm.orderStatus track by option.id"
                            ng-model="vm.selectedStatusOrder">
                    </select>
                </div>
                <button ng-click="vm.saveOrder()" class="btn btn-success"><i style="padding-right: 5px" class="fa fa-save" ></i>Сохранить</button>
            </form>
        </div>
    </div>
    <div class="col-lg-8" id="orderListBlock">
        <h2>Состав заказа</h2>
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>VIN</th>
                    <th>Производитель</th>
                    <th>Поставщик</th>
                    <th>Цена</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.order.items track by $index">
                    <td> {{item.vin}} </td>
                    <td> {{item.brand}} </td>
                    <td ng-if="item.supplier"> {{item.supplier}} </td>
                    <td ng-if="item.orderStorage.name"> {{item.orderStorage.name}} </td>
                    <td> {{item.price}} </td>
                    <td> {{item.orderCount}} </td>
                    <td style="cursor: pointer" ng-if="vm.editMode"> <i style="z-index: 999" ng-click="vm.removeFromList(item._id)" class="text-danger fa fa-close"></i></td>
                </tr>
            </tbody>
        </table>
        <div ng-if="vm.editMode" class="panel panel-default">
            <div class="panel-heading">
                Список товаров в базе
                <input ng-model="searchPattern" type="text" name="parts" id="parts">
                <button ng-click="vm.getParts(searchPattern,0,10)" class="btn btn-primary"><i class="fa fa-search"></i></button>
                <button class="btn btn-success" ng-click="vm.saveOrder()"><i style="padding-right: 5px" class="fa fa-save" ></i>Сохранить</button>
                <button class="btn btn-warning" ng-click="vm.cancelEdit()"><i style="padding-right: 5px" class="fa fa-close"></i>Отменить</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" ng-init="vm.getParts(0,0,10)">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th width="100px">Производитель</th>
                            <th>VIN</th>
                            <th>АЛ</th>
                            <th>ЕА</th>
                            <th width="50px">НСКОст.</th>
                            <th>Цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.parts">
                            <td>{{item.name}}</td>
                            <td>{{item.brand}}</td>
                            <td>{{item.vin}}</td>
                            <td>{{item.stocks[0].count}}<i class="text-success fa fa-plus-circle" ng-click="vm.addToList(item, item.stocks[0])"></i></td>
                            <td>{{item.stocks[1].count}}<i class="text-success fa fa-plus-circle" ng-click="vm.addToList(item, item.stocks[1])"></i></td>
                            <td>{{item.stocks[2].count}}<i class="text-success fa fa-plus-circle" ng-click="vm.addToList(item, item.stocks[2])"></i></td>
                            <td>{{item.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li>
                                <span>Записей всего: {{vm.stat.count}}</span>
                            </li>
                            <li class="page-item">
                                <a class="page-link" ng-disabled="vm.stat.prev == 0" ng-click="vm.getParts(searchPattern,vm.stat.prev, 10)">Назад</a>
                            </li>
                            <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,stat.prev, 10)">{{vm.stat.prev+1}}</a></li>
                            <li class="page-item active">
                              <span class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.pageIs, 10)">
                                {{vm.stat.pageIs+1}}
                                <span class="sr-only">(current)</span>
                              </span>
                            </li>
                            <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">{{vm.stat.next+1}}</a></li>
                            <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next+1, 10)">{{vm.stat.next++2}}</a></li>
                            <li class="page-item">
                                <a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">Вперед</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <button class="btn btn-primary" ng-if="!vm.editMode" ng-click="vm.editOrder()">Изменить заказ</button>
    </div>
</div>