<div class="row" ng-init="vm.getOne()">
    <div class="col-lg-12">
        <h1 class="page-header">Редактирование страницы</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <img src="{{vm.imageUrl}}" alt="">
</div>
<div class="row">
    <div class="col-lg-12">
        <form>
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input ng-model="vm.title" type="text" class="form-control" id="title" required>
            </div>
            <div class="form-group">
                <label for="body">Статья</label>
                <textarea class="form-control" ng-model="vm.body" name="body" id="body" cols="30" rows="10" required></textarea>
            </div>
            <div class="row d-flex justify-content-between">
                <button type="submit" ng-click="vm.update()" class="btn btn-primary">Обновить статью</button>
            </div>
        </form>
    </div>
</div>