<div class="row">
    <div class="col-12">
        <h1 class="page-header">Система проценки партнеров</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <h4 class="text-danger col-lg-12 col-xs-12 col-sm-12 col-xs-12">Внимание! Проценка не применится к товарам в корзине покупателя</h4>
                        <div class="col-lg-6 col-xs-6 col-sm-6 col-xs-12 form-group">

                            <label for="berg">Установка проценки для поставщика - Берг</label>
                            <input ng-model="vm.bergPercent" name="berg" id="berg" class="form-control" type="text">

                            <label for="berg">Корректировка доставки (+ дней) - Берг</label>
                            <input ng-model="vm.bergDelivery" name="berg" id="berg" class="form-control" type="text">



                            <label for="careta">Установка проценки для поставщика - Карета</label>
                            <input ng-model="vm.caretaPercent" name="careta" id="careta" class="form-control" type="text">

                            <label for="berg">Корректировка доставки (+ дней) - Карета</label>
                            <input ng-model="vm.caretaDelivery" name="berg" id="berg" class="form-control" type="text">



                            <label for="stuz">Установка проценки для поставщика - Stuz</label>
                            <input ng-model="vm.stuzPercent" name="stuz" id="stuz" class="form-control" type="text">

                            <label for="berg">Корректировка доставки (+ дней) - Stuz</label>
                            <input ng-model="vm.stuzDelivery" name="berg" id="berg" class="form-control" type="text">


                            <div class="text-right" style="margin-top: 15px">
                                <button ng-click="vm.onSubmit()" class="btn btn-primary">Обновить наценку</button>
                            </div>
                        </div>

                        <div class="col-lg-6 col-xs-6 col-sm-6 col-xs-12 form-group">
                            <label for="sale">Общая скидка на товар</label>
                            <input ng-model="vm.summarySale" name="sale" id="sale" class="form-control" type="text">
                            <span class="text-muted">Устанавливается для всех партнеров</span>

                            <div class="text-right">
                                <button ng-click="vm.onSubmitSale()" class="btn btn-primary">Обновить скидку</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

