<div class="row" ng-init="vm.getTicked()" style="padding: 15px;">
    <h2>Обращение №{{vm.ticked[0].orderId.orderNumber}} от {{vm.ticked[0].clientId.firstName}} {{vm.ticked[0].clientId.lastName}}</h2>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="card">
                <div style="padding: 10px;" ng-class="{'alert alert-danger': vm.ticked[0].status, 'alert alert-success': !vm.ticked[0].status}" class="card-block">
                    <p>{{vm.ticked[0].status ? 'Запрос открыт' : 'Запрос закрыт'}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Имя: <b>{{vm.ticked[0].clientId.firstName}}</b></li>
                    <li class="list-group-item">Фамилия: <b>{{vm.ticked[0].clientId.lastName}}</b></li>
                    <li class="list-group-item">email: <b>{{vm.ticked[0].clientId.email}}</b></li>
                    <li class="list-group-item">Телефон: <b>{{vm.ticked[0].clientId.phone}}</b></li>
                    <li class="list-group-item">Дата обращения: <b>{{vm.ticked[0].date | date}}</b></li>
                    <li class="list-group-item">Сумма заказа: <b>{{vm.ticked[0].orderId.cost}}</b></li>
                    <li class="list-group-item">Статус обращения: <b>{{vm.ticked[0].status ? 'Открыт' : 'Закрыт'}}</b></li>
                    <li class="list-group-item">Номер заказа: <a ui-sref="dashboard.order({ id: vm.ticked[0].orderId._id })"><b>{{vm.ticked[0].orderId.orderNumber}}</b></a></li>
                </ul>
                <div class="card-block">
                    <button class="btn btn-primary" href="mailto:{{vm.ticked[0].clientId.email}}">Отправить email</button>
                    <button class="btn btn-primary" ng-if="!vm.ticked[0].status" ng-click="vm.open()">Открыть обращение</button>
                    <button class="btn btn-warning" ng-if="vm.ticked[0].status" ng-click="vm.close()">Закрыть обращение</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <div class="row" ng-repeat="ticked in vm.ticked">
                        <div ng-class="{'alert-warning col-md-offset-6 col-lg-offset-6 col-sm-offset-6 col-xs-offset-4': !ticked.isAnswer, 'alert-success': ticked.isAnswer }" class="alert col-md-6 col-lg-6 col-sm-6 col-xs-8 ">
                            <div  ng-class="{'text-right': !ticked.isAnswer, 'text-left': ticked.isAnswer}">
                                <p class="text-muted">{{ticked.date | date}} от <b>.{{ ticked.isAnswer ? ticked.name : ticked[0].clientId.firstName + ' ' + ticked[0].clientId.lastName}}</b></p>
                                <p>{{ticked.body}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <span>Оставьте ответ на сообщение</span>
            <div class="form-group">
                <textarea ng-model="vm.message" class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary" ng-click="vm.onSubmit()">Отправить</button>
            </div>
        </div>
    </div>
</div>