<div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
        <h2>Зарегистрированные обращения</h2>
    </div>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Статус</th>
                        <th>Время</th>
                        <th>Пользователь</th>
                        <th>Кол-во сообщений</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ticked in vm.tickeds">
                        <td ui-sref="dashboard.ticked({ id: ticked._id.order })"  ng-class="{'alert-danger': ticked.status, 'alert-success': !ticked.status}">{{ticked.orderDocs[0].orderNumber}}</td>
                        <td ui-sref="dashboard.ticked({ id: ticked._id.order })"  ng-class="{'alert-danger': ticked.status, 'alert-success': !ticked.status}">{{ticked.status ? 'Запрос открыт': 'Запрос закрыт'}}</td>
                        <td ui-sref="dashboard.ticked({ id: ticked._id.order })"  ng-class="{'alert-danger': ticked.status, 'alert-success': !ticked.status}">{{ticked.firstDate | date}}</td>
                        <td ng-class="{'alert-danger': ticked.status, 'alert-success': !ticked.status}"><a ui-sref="dashboard.customer({ id: ticked.user[0]._id }})">{{ticked.user[0].firstName}} {{ticked.user[0].lastName}}</a></td>
                        <td ui-sref="dashboard.ticked({ id: ticked._id.order })"  ng-class="{'alert-danger': ticked.status, 'alert-success': !ticked.status}">{{ticked.count}}</td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination">
                    <li>
                        <span>Записей всего: {{vm.stat.count}}</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-disabled="vm.stat.prev == 0" ng-click="vm.getParts(searchPattern,vm.stat.prev, 10)">Назад</a>
                    </li>
                    <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,stat.prev, 10)">{{vm.stat.prev+1}}</a></li>
                    <li class="page-item active">
                              <span class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.pageIs, 10)">
                                {{vm.stat.pageIs+1}}
                                <span class="sr-only">(current)</span>
                              </span>
                    </li>
                    <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">{{vm.stat.next+1}}</a></li>
                    <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next+1, 10)">{{vm.stat.next++2}}</a></li>
                    <li class="page-item">
                        <a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">Вперед</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
