<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Наличие</h1>
    </div>
    <form action="">
        <div class="form-group">
            <div class="form-item">
                <label for="parts">VIN запчасти</label>
                <input ng-model="searchPattern" type="text" name="parts" id="parts">
                <button ng-click="vm.getParts(searchPattern,0,10)" class="btn btn-primary">Запрос</button>
                <span ng-if="vm.parts.message"> {{parts.message}}</span>
            </div>
        </div>
    </form>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Список товаров в базе
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" ng-init="vm.getParts(searchPattern,0,10)">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Производитель</th>
                                <th>VIN</th>
                                <th>АвтоЛавка</th>
                                <th>ЕвроАвто</th>
                                <th>НСКОстровского</th>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.parts">
                                <td>{{item.name}}</td>
                                <td>{{item.brand}}</td>
                                <td>{{item.vin}}</td>
                                <td>{{item.stocks[0].count}}</td>
                                <td>{{item.stocks[1].count}}</td>
                                <td>{{item.stocks[2].count}}</td>
                                <td>{{item.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination">
                        <li>
                            <span>Записей всего: {{vm.stat.count}}</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-disabled="vm.stat.prev == 0" ng-click="vm.getParts(searchPattern,vm.stat.prev, 10)">Назад</a>
                        </li>
                        <li class="page-item"><a class="page-link" ng-hide="vm.stat.prev === 0" ng-click="vm.getParts(searchPattern,vm.stat.prev, 10)">{{vm.stat.prev+1}}</a></li>
                        <li class="page-item active">
                              <span class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.pageIs, 10)">
                                {{vm.stat.pageIs+1}}
                                <span class="sr-only">(current)</span>
                              </span>
                        </li>
                        <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">{{vm.stat.next+1}}</a></li>
                        <li class="page-item"><a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next+1, 10)">{{vm.stat.next++2}}</a></li>
                        <li class="page-item">
                            <a class="page-link" ng-click="vm.getParts(searchPattern,vm.stat.next, 10)">Вперед</a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
