<div class="panel-body" ng-init="ac.getList(0,10)">
    <h2>Список всех покупателей</h2>
  <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Адрес</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Скидка</th>
                <th>Заказы</th>
            </tr>
            </thead>
            <tbody>
                <tr ui-sref="dashboard.customer({id: man._id})" style="cursor: pointer" ng-repeat="man in ac.list">
                    <td> {{man.firstName}} </td>
                    <td> {{man.lastName}} </td>
                    <td> {{man.address}} </td>
                    <td> {{man.email}} </td>
                    <td> {{man.phone}} </td>
                    <td> {{man.percent}}%</td>
                    <td> {{man.orders.length}} </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li>
                    <span>Записей всего: {{ac.stat.count}}</span>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-disabled="stat.prev == 0" ng-click="ac.getLits(stat.prev, 10)">Назад</a>
                </li>
                <li class="page-item"><a class="page-link" ng-click="ac.getLits(stat.prev, 10)">{{stat.prev+1}}</a></li>
                <li class="page-item active">
                              <span class="page-link" ng-click="ac.getLits(stat.pageIs, 10)">
                                {{stat.pageIs+1}}
                                <span class="sr-only">(current)</span>
                              </span>
                </li>
                <li class="page-item"><a class="page-link" ng-click="ac.getLits(stat.next, 10)">{{stat.next+1}}</a></li>
                <li class="page-item"><a class="page-link" ng-click="ac.getLits(stat.next+1, 10)">{{stat.next++2}}</a></li>
                <li class="page-item">
                    <a class="page-link" ng-click="ac.getLits(stat.next, 10)">Вперед</a>
                </li>
            </ul>
        </nav>
    </div>
</div>