  <div id="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" ui-sref="home.main" ui-sref-active="active">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="about" ui-sref-active="active">О нашей компании</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="news.list" ui-sref-active="active">Новости</a>
            </li>
            <!--<li id="catalog-dropdown" class="nav-item">-->
                <!--<a class="nav-link catalog-nav-sidebar" ui-sref-active="active">Каталог товаров <i class="fa fa-play" aria-hidden="true"></i></a>-->
                <!--<ul id="shop-catalog" class="shop-menu">-->
                    <!--<a ui-sref="catalog.category({ catalog: 'oil' })"><li class="nav-item">Масла</li></a>-->
                    <!--<a ui-sref="catalog.category({ catalog: 'accs' })"><li class="nav-item">Аксессуары</li></a>-->
                    <!--<a ui-sref="autocatalog.main"><li class="nav-item">Запчасти</li></a>-->
                    <!--<a ui-sref="catalog.category({ catalog: 'glass' })"><li class="nav-item">Щетки стеклоочистителя</li></a>-->
                    <!--<a ui-sref="catalog.category({ catalog: 'battary' })"><li class="nav-item">Аккумуляторы</li></a>-->
                <!--</ul>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" ui-sref="shop" ui-sref-active="active">Контакты</a>
            </li>
        </ul>
        <!--<ul class="payment-list">-->
            <!--<p>Принимаем оплату: </p>-->
            <!--<li class="payment-logo wm">Webmoney</li>-->
            <!--<li class="payment-logo sb">Sberbank</li>-->
            <!--<li class="payment-logo yd">Yandex.деньги</li>-->
            <!--<li class="payment-logo wu">Western union</li>-->
            <!--<li class="payment-logo p">Переводы</li>-->
        <!--</ul>-->
    </div>
