<div class="container">
    <div class="row footer">
        <div class="col-md-3 col-lg-3 col-12 white-font footer-column">
            <ul class="nav flex-column">
                <h6 class="white-text ">О компании</h6>
                <li class="nav-item">
                    <a class="nav-link active" ui-sref="about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="shop">Адреса магазинов</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-lg-3 col-12 white-font footer-column"><ul class="nav flex-column">
            <h6 class="white-text ">Клиентам</h6>
            <li class="nav-item">
                <a class="nav-link" ui-sref="auth.login">Личный кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="support">Служба поддержки</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" ng-click="vm.action()">Заявка на консультацию</a>-->
            <!--</li>-->
        </ul></div>
        <div class="col-md-3 col-lg-3 col-12 white-font footer-column">
            <ul class="nav flex-column">
                <!--<h6 class="white-text ">Каталог товаров</h6>-->
                <li class="nav-item">
                    <!--<a class="nav-link" ui-sref="autocatalog.main">Товары для вашего ТО</a>-->
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" ui-sref="catalog.oil">Аккумуляторные батареи</a>-->
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" ui-sref="catalog.oil">Щетки стеклоочистителя</a>-->
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" ui-sref="catalog.accessories">Автоаксуссуары</a>-->
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" ui-sref="catalog.oil">Масла</a>-->
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-lg-3 col-12 white-font footer-column"><ul class="nav flex-column">
            <h6 class="white-text ">Интернет-магазин</h6>
            <li ng-repeat="item in vm.list" class="nav-item">
                <a class="nav-link" ui-sref="page({ page: item._id})">{{ item.title }}</a>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" ui-sref="pay-rules">Как оплатить заказ</a>-->
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="return-cond">Условия возврата и гарантии</a>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" ui-sref="auth.sign-in">Восстановление пароля</a>-->
            </li>
        </ul></div>
        <div class="col-12 mt-5">
            <p class="small white-text">© 2018, KorKit.ru Интернет-магазин автозапчастей
                Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой,определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации</p>
        </div>
    </div>
</div>