<div class="row news-grid">
    <div class="col-12">
        <div class="row">
            <div class="col-4 news-item">
                <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="col-8">
                <h4 class="text-primary" style="cursor: pointer;" ui-sref="news.item({ id: newsid })" ng-bind="title"></h4>
                <p ng-bind="content"></p>
                <small ng-bind="meta"></small>
                <small> Автор: <b>{{author}}</b></small>
                <a class="small text-right text-primary" style="cursor: pointer; float: right;" ui-sref="news.item({ id: newsid })">Читать...</a>
            </div>
        </div>
    </div>
</div>