<div class="container" ng-init="vm.getNews()">
        <h2 class="text-center">Новости и акции</h2>
    <div class="row">
        <news-item newsid="{{news._id}}" title="{{news.title}}" content="{{news.body[0]}}" ng-repeat="news in vm.newsList" img="{{news.imageUrl}}" meta="{{news.date | date}}" author="admin"></news-item>
    </div>
    <div ng-if="vm.loading" class="row">
        <img class="mx-auto text-center" style="width: auto;" src="loader.gif" alt="Загрузка статей...">
        <span class="mx-auto text-center w-100 text-muted small">Загрузка статей...</span>
    </div>
    <div ng-if="vm.message && vm.newsList.length === 0" class="row d-flex">
        <div class="col mx-auto my-5 justify-content-center">
            <i class="fa fa-4x text-primary fa-times-circle d-flex justify-content-center mb-4"></i>
            <h4 class="text-center mb-5">{{vm.message}}</h4>
        </div>
    </div>
</div>


