<div class="container mb-5" ng-init="vm.getNewsById()">
    <div class="row">
        <div style="background: url('{{vm.news.imageUrl}}')" class="info-news post-image"></div>
        <div class="col-12">
            <h2>{{vm.news.title}}</h2>
            <pre ng-repeat="parag in vm.news.body" class="text-center">
               {{ parag }}
            </pre>
        </div>
    </div>
</div>
