<div ng-hide="sc.loaderBestDeal" class="row">
    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
        <div class="mx-auto text-center sale-block container">
            <img style="width: 50%" src="loader.gif" alt="Загрузка товаров...">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
        <div class="mx-auto text-center sale-block container">
            <img style="width: 50%" src="loader.gif" alt="Загрузка товаров...">
        </div>
    </div>
</div>

<div ng-hide="!sc.loaderBestDeal" class="row">
    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
        <div class="sale-block container">
            <div class="vin-title-block">
                <span class="vin-title">Лучшее предложение в наличии:</span> <br>
                <span class="vin-capital">{{sc.cheap.brand}} {{sc.cheap.name}}</span><br>
                <span><small class="vin-cross">{{sc.cheap.vin}}</small></span>
            </div>
            <div class="row footer-sale-block">
                <div class="col-12 col-md-6 col-lg-6 col-sm-6">
                    <span class="vin-description">В наличии</span>
                </div>
                <div class="text-right col-12 col-md-6 col-lg-6 col-sm-6">
                   - <span class="vin-price" ng-bind="sc.cheap.stocks[0].price"></span>P
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
        <div class="disable sale-block container">
            <div class="vin-title-block">
                <span class="vin-title">Лучшее предложение под заказ:</span> <br>
                <span class="vin-capital">{{sc.cheap.brand}} {{sc.cheap.name}}</span> <br>
                <span><small class="vin-cross">-{{sc.cheap.vin}}</small></span>
            </div>
            <div class="row footer-sale-block">
                <div class="col-12 col-md-6 col-lg-6 col-sm-6">
                    <span class="vin-description">В наличии {{sc.cheap.stocks[0].count}}</span>
                </div>
                <div class="text-right col-12 col-md-6 col-lg-6 col-sm-6">
                   - <span class="vin-price" ng-bind="sc.cheap.price"></span>P
                </div>
            </div>
        </div>
    </div>
</div>