<div ng-hide="!sc.loaderVIN" class="col-12" ng-repeat="item in sc.cross">
    <table class="table">
        <thead ng-if="$index === 0">
        <tr>
            <th>Производитель</th>
            <th>Наименование</th>
            <th>Склад</th>
            <th>Наличие</th>
            <th>Цена, руб</th>
            <th width="20%"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-spacer">
            <td class="non-border" rowspan="3" width="20%">
                <span class="vin-capital">{{item.brand}}</span><br>
                <small class="vin-cross">{{item.vin}}</small>
            </td>
            <td class="non-border" rowspan="3" width="20%">
                    <p class="part-name">
                      {{item.name}}
                    </p>
            </td>
            <td width="15">
                {{item.stocks[0].name | nameFilter}}
                <span class="text-muted small">{{item.stocks[0].name.indexOf('НСК') === -1 ? 'г.Бийск' : 'г.Новосибирск'}}</span>
            </td>
            <td width="10%" ng-if="item.stocks[0].count === 0"><span class="btn-link" style="cursor:pointer;" ng-click="vm.action({name: item.vin, storage: item.stocks[0].name })">Уточнить</span></td>

            <td width="10%" ng-if="item.stocks[0].count === 0"><span class="btn-link" style="cursor:pointer;" ng-click="vm.action({name: item.vin, storage: item.stocks[0].name })">Уточнить</span></td>

            <td width="15%" ng-if="item.stocks[0].count > 0">
                в наличии
            </td>

            <td width="10%" class="item-price" ng-if="item.stocks[0].count > 0">
                {{item.stocks[0].price + '.00'}}
            </td>

            <!--<td width="20%" class="text-right" ng-if="item.stocks[0].count > 0">-->
                <!--<input class="count-input" ng-model="counter[$index]" ng-init="counter[$index] = 1" type="number" value="1" step="1" min="1" max="{{item.stocks[0].count}}"/>-->
                <!--<a class="add-button btn-success" ng-click="sc.animation($event,item,item.stocks[0],counter[$index]); storage-1" ><i class="fa fa-cart-plus fa-lg pr-1"></i><span>Купить</span></a>-->

            <td width="20%" class="text-right" ng-if="item.stocks[0].count !== 0">
                <input class="count-input" ng-model="counter[$index]" ng-init="counter[$index] = 1" type="number" value="1" step="1" min="1" max="{{item.stocks[0].count}}"/>
                <a ng-if="!item.stocks[0].basket" class="add-button btn-success" ng-click="sc.animation($event, item, item.stocks[0], counter[$index], 'partsCross')" ><i class="fa fa-cart-plus fa-lg pr-1"></i><span>Купить</span></a>

                <a ng-if="item.stocks[0].basket" disabled="{{item.count === 0}}" class="add-button btn-primary" ng-click="sc.animation($event, item, item.stocks[0], counter[$index], 'partsCross')" ><span>В корзине {{ item.stocks[0].basket }}</span></a>
            </td>


            <!--</td>-->

            <td width="20%" class="text-right" ng-if="item.stocks[0].count === 0">
                <a class="add-button btn-success" ng-click="vm.action({name: item.vin, storage: item.stocks[0].name })" ><i class="fa fa-cart-plus fa-lg pr-1"></i>Заказать</a>
            </td>
        </tr>

        <tr ng-repeat="storage in item.stocks | limitTo: (1 - item.stocks.length)">
            <td width="15">
                {{storage.name | nameFilter}}
                <span class="text-muted small">{{storage.name.indexOf('НСК') === -1 ? 'г.Бийск' : 'г.Новосибирск'}}</span>
            </td>
            <td width="15%" ng-if="storage.count > 0"> в наличии</td>
            <td width="15%" ng-if="storage.count === 0"><span class="btn-link" style="cursor:pointer;" ng-click="vm.action({name: item.vin, storage: storage.name })">Уточнить</span></td>
            <td width="10%" class="item-price" ng-if="storage.count > 0">
                {{storage.price + '.00'}}
            </td>
            <td width="10%" ng-if="storage.count === 0"><span class="btn-link" style="cursor:pointer;" ng-click="vm.action({name: item.vin, storage: storage.name })">Уточнить</span></td>

            <td width="20%" class="text-right" ng-if="storage.count !== 0">
                <input class="count-input" ng-model="counter[$index]" ng-init="counter[$index] = 1" type="number" value="1" step="1" min="1" max="{{storage.count}}"/>
                <!--<a class="add-button btn-success" ng-click="sc.animation($event,item,storage,counter[$index])" ><i class="fa fa-cart-plus fa-lg pr-1"></i><span>Купить</span></a>-->
                <a ng-if="!storage.basket" class="add-button btn-success" ng-click="sc.animation($event, item, storage, counter[$index], 'partsCross')" ><i class="fa fa-cart-plus fa-lg pr-1"></i><span>Купить</span></a>

                <a ng-if="storage.basket" disabled="{{item.count === 0}}" class="add-button btn-primary" ng-click="sc.animation($event, item, storage, counter[$index], 'partsCross')" ><span>В корзине {{ storage.basket }}</span></a>
            </td>


            <td width="20%" class="text-right" ng-if="storage.count === 0">
                <a class="add-button btn-success" ng-click="vm.action({name: item.vin, storage: storage.name })" ><i class="fa fa-cart-plus fa-lg pr-1"></i>Заказать</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>


