<div ng-hide="sc.loaderCross" class="row">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
        <div class="mx-auto text-center sale-block container">
            <img style="width: 20%" src="loader.gif" alt="Загрузка товаров...">
        </div>
    </div>
</div>

<section ng-hide="!sc.loaderCross" ng-if="sc.cross.length !== 0"  >
    <h4 class="text-center">Аналоги запчасти: {{sc.vin}}</h4>
    <div class="container parts-list">
        <cross-list-item></cross-list-item>
    </div>
</section>

<section ng-if="sc.cross.length === 0" class="text-center">
    <span>Аналоги к {{sc.vin}} не найдены...</span>
</section>