<div ng-init="vm.getOneModel()">
    <h2>Список моделей {{vm.models.brand}}</h2>
        <div class="offset-md-9 offset-lg-9 offset-sm-9 offset-6 col-6 col-sm-3 col-md-3 col-lg-3 form-group">
            <input style="width: 100%;" type="text" placeholder="Введите модель">
        </div>
    <uib-tabset class="col-12" active="activeJustified" justified="true">
        <uib-tab index="0" heading="до 1990">
            <p>до 1990</p>
        </uib-tab>
        <uib-tab index="1" heading="1990 - 2000">
            <div class="row">
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    AURIS
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    AVENSIS
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    COROLLA
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    COROLLA
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    CAMRY
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    AURIS
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    AVENSIS
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    COROLLA
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    COROLLA
                </div>

                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    CAMRY
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="2000 - 2015">
            <div class="row">
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    COROLLA
                </div>

                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    CAMRY
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="после 2015">
            <div class="row">
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    COROLLA
                </div>

                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    CAMRY
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
