<h2>Полный каталог транспортных средств</h2>
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Популярные">
        <p>Популярные</p>
    </uib-tab>
    <uib-tab index="1" heading="Легковые">
        <auto-catalog-model-list cat="modelsHeavy"></auto-catalog-model-list>
    </uib-tab>
    <uib-tab ui-sref="autocatalog.main" index="2" heading="Грузовые">
        <auto-catalog-model-list cat="modelsAll"></auto-catalog-model-list>
    </uib-tab>
    <uib-tab ui-sref="autocatalog.main" index="3" heading="Все">
        <auto-catalog-model-list cat="models"></auto-catalog-model-list>
    </uib-tab>
</uib-tabset>

