<div class="row">
    <div class="col-6 col-lg-2 col-md-2 col-sm-2" ng-repeat="item in modelsAll">
        <auto-brand class="text-center" id="item.id" brand="item.brand"></auto-brand>
    </div>
</div>


<!--<ul>-->
<!--<li ng-repeat="item in models">-->
<!--<a ng-bind="item.brand" ui-sref="catalog.battary">-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->