<div ng-hide="sc.loaderBestDeal" class="row">
    <p class="modal-address"></p>
    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
        <div class="mx-auto text-center sale-block container">
            <img style="width: 20%" src="loader.gif" alt="Загрузка товаров...">
        </div>
    </div>
</div>

<section ng-hide="!sc.loaderBestDeal" ng-if="sc.parts.length !== 0" >
    <h4 class="text-center">Результаты поиска:</h4>
    <div class="container parts-list">
        <parts-list-item></parts-list-item>
    </div>
</section>

<section ng-if="sc.parts.length == 0">
    <h4>Запчасти с номером {{sc.vin}} нет в наличии</h4>
</section>