<h2 ng-init="sc.progress()">Предложение по запчасти {{sc.vin}}</h2>
<p ng-if="sc.badRequest">По вашему запросу ничего не найдено, введите корректный номер запчасти</p>
<div ng-if="!sc.badRequest">
    <div ng-if="sc.parts.status === 'error'" class="empty-response text-center">
        {{sc.parts.message}}
    </div>

    <div ng-hide="sc.parts.status === 'error'">
        <parts-list></parts-list>
    </div>

    <div ng-if="sc.parts.status === 'error'" class="empty-response text-center">
        {{sc.cross.message}}
    </div>

    <div ng-hide="sc.cross.status === 'error'">
        <cross-list></cross-list>
    </div>

    <div>
        <suppliers-list></suppliers-list>
    </div>
</div>

<div class="loader" ng-if="sc.hiddenLoader">
    <div  class="row d-flex align-items-center" style="height: 100vh;">
        <div class="mx-auto col-4">
            <img src="logo.png" alt="Korkit.ru">
            <p>Идет анализ лучшей цены</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{sc.progressValue}}%"></div>
            </div>
        </div>
    </div>
</div>


