<div ng-hide="sc.loaderSuppliers" class="row">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
        <div class="mx-auto text-center sale-block container">
            <img style="width: 20%" src="loader.gif" alt="Загрузка товаров...">
        </div>
    </div>
</div>

<section ng-if="!sc.suppliers.status">
    <h4 class="text-center">Предложения партнеров</h4>
    <div class="container parts-list">
        <suppliers-list-item></suppliers-list-item>
    </div>
</section>

<section ng-if="sc.suppliers.status" class="text-center">
    <span>Запчасть {{sc.vin}} у партнеров отсутствует...</span>
</section>

<section ng-if="!sc.suppliersCross.status">
    <h4 class="text-center">Предложения по аналогам у партнеров</h4>
    <div class="row justify-content-between">
        <button ng-if="sc.oldSuppliersCross" class="ml-5 mb-2 btn btn-primary" ng-click="sc.returnToBrandList()"><i class="fa fa-chevron-left pr-2"></i>Назад</button>
        <span ng-if="sc.statusMessage" class="mr-5 mb-2 alert alert-success" ng-click="sc.returnToBrandList()">{{sc.statusMessage}}</span>
    </div>

    <div class="container parts-list">
        <suppliers-cross-item></suppliers-cross-item>
    </div>
</section>

<section ng-if="sc.suppliersCross.status === 'mismatch'" class="text-center">
    <span>Аналог {{sc.vin}} у партнеров не найден...</span>
    <span ng-if="sc.suppliersCross.body.length !== 0">Пожалуйста уточните ваш запрос: <br> выберите возможного производителя вашей детали из списка</span>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-start">
            <span ng-if="sc.statusMessage" class="col-12 alert alert-warning">{{sc.statusMessage}}<img ng-if="sc.loaderSuppliersCross" style="width: 20%" src="loader.gif" alt="Загрузка товаров..."></span>
            <div class="d-flex col mx-2 my-2 brand-list-item" ng-repeat="brand in sc.suppliersCross.body">
                <span ng-click="sc.refreshList(brand)"><b>{{brand.brand}}</b> Номер производителя <b>{{brand.article}}</b></span>
            </div>
        </div>
    </div>
</section>
