<div ng-hide="!sc.loaderSuppliersCross" class="col-12" ng-repeat="item in sc.suppliersCross">
    <table class="table">
        <thead>
            <tr ng-if="$index === 0">
                <th>Производитель</th>
                <th>Наименование</th>
                <th>Склад</th>
                <th>Ожидание</th>
                <th>Наличие</th>
                <th>Цена, руб</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr class="tr-spacer">
            <td class="non-border" rowspan="3" width="15%">
                <span class="vin-capital">{{item.brand}}</span><br>
                <small class="vin-cross">{{item.vin}}</small>
            </td>
            <td class="non-border" rowspan="3" width="20%">
                <p class="part-name">
                  {{item.name}}
                </p>
            </td>
            <td class="non-border" rowspan="3" width="10%">
                <span class="vin-capital">
                  {{item.clientView}}
                </span>
            </td>
            <td ng-if="item.stocks[0].average_period !== 0">
                до {{item.stocks[0].average_period}} дней
            </td>
            <td ng-if="item.stocks[0].average_period === 0">
                В наличии
            </td>
            <td width="15%" ng-if="item.count === 0"><span class="btn-link" style="cursor:pointer;" ng-click="vm.action()">Уточнить</span></td>

            <td width="15%" ng-if="item.count === 0"><span class="btn-link" style="cursor:pointer;" ng-click="vm.action()">Уточнить</span></td>

            <td width="15%" ng-if="item.count !== 0">
                До {{item.stocks[0].quantity}}
            </td>

            <td width="10%" class="item-price" ng-if="item.count !== 0">
                {{item.stocks[0].price}}
            </td>
            <td width="20%" class="text-right" ng-if="item.count !== 0">
                <input class="count-input" ng-model="counter[$index]" ng-init="counter[$index] = 1" type="number" value="1" step="1" min="1" max="{{item.stocks[0].quantity}}"/>
                <!--<a class="add-button btn-success" ng-click="sc.animation($event, item,item.stocks[0],counter[$index])" ><i class="fa fa-cart-plus fa-lg pr-1"></i><span>Купить</span></a>-->

                <a ng-if="!item.basket" class="add-button btn-success" ng-click="sc.animation($event,item,item.stocks[0],counter[$index])" ><i class="fa fa-cart-plus fa-lg pr-1"></i><span>Купить</span></a>
                <a ng-if="item.basket" disabled="{{item.count === 0}}" class="add-button btn-primary" ng-click="sc.animation($event,item,item.stocks[0],counter[$index])" ><span>В корзине {{ item.basket }}</span></a>
            </td>

            <td width="20%" class="text-right" ng-if="item.count === 0">
                <a class="add-button btn-success" ng-click="vm.action()" ><i class="fa fa-cart-plus fa-lg pr-1"></i>Заказать</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
