<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a ui-sref="dashboard.home({ storage: 'admin' })">
                    <i class="fa fa-user fa-fw"></i> Все</a>
            </li>
            <li>
                <a ui-sref="dashboard.home({ storage: 'nsk' })" storage="nsk">
                    <i class="fa fa-user fa-fw"></i> НСКОстровского</a>
            </li>
            <li>
                <a ui-sref="dashboard.home({ storage: 'autoLavka' })" storage="autoLavka">
                    <i class="fa fa-user fa-fw"></i> Автолавка</a>
            </li>
            <li>
                <a ui-sref="dashboard.home({ storage: 'euroAuto' })" storage="euroAuto">
                    <i class="fa fa-user fa-fw"></i> ЕвроАвто</a>
            </li>
            <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

