<div class="market-item">
    <div class="d-flex align-items-center color-box text-center" ng-click="">
        <div class="container adding-button">
            <i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="image-box">
        <div class="image" style="background: url('{{source}}')">
        </div>
        <!--<img ng-src="{{source}}" alt="{{description}}">-->
    </div>
    <span><b>Модель: </b>{{description | limitTo:15}}</span><br>
    <span><b>Цена: </b>{{price}}</span>
    <div ng-class="{'green-status': status, 'red-status': !status}">
        <div ng-if="status"> В наличии </div>
        <div ng-if="status == false"> Временно нет </div>
    </div>
    <!--<button type="button" ng-click="" class="btn btn-success">В корзину</button>-->
</div>