<div>
    <div class="d-flex align-items-center color-box text-center" ng-click="">
        <div class="container adding-button">
            <i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="image-box">
        <div class="image" style="background: url('{{source}}')">
        </div>
        <!--<img ng-src="{{source}}" alt="{{description}}">-->
    </div>
    <span ng-bind="{{description}}"></span>
    <p>{{price}}<small>Руб.</small></p>
    <!--<button type="button" ng-click="" class="btn btn-success">В корзину</button>-->
</div>