<div class="container catalog" ng-init="vm.getAllCategoryItem()">
    <h2>Каталог аккумуляторных батарей</h2>
    <div class="row">
        <accessories-item ng-repeat="item in vm.items" class="col-md-3 col-lg-3 col-sm-3 col-6 catalog-item" ui-sref="catalog.item({catalog: 4, item: item.id})" description="item.descr" source="item.image" price="item.price"></accessories-item>
        <!--<accessories-item class="col-md-3 col-lg-3 col-sm-3 col-6 catalog-item" description="'Аккумулятор VARTA 40'" source="https://i5.walmartimages.ca/images/Large/057/852/999999-83996057852.jpg?odnBound=460" price="'1582'"></accessories-item>-->
        <!--<accessories-item class="col-md-3 col-lg-3 col-sm-3 col-6 catalog-item" description="'Аккумулятор HONDA d-54'" source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGuRG8r9nmcnfjhDm9dda7rgR0scop9a5nc9BNbjn3hILFGjHYQA" price="'1582'"></accessories-item>-->
        <!--<accessories-item class="col-md-3 col-lg-3 col-sm-3 col-6 catalog-item" description="'Аккумулятор HARIER 2000'" source="http://c.shld.net/rpx/i/s/i/spin/image/spin_prod_893201912?hei=333&wid=333&op_sharpen=1" price="'1582'"></accessories-item>-->
        <!--<accessories-item class="col-md-3 col-lg-3 col-sm-3 col-6 catalog-item" description="'Аккумулятор JUST2U'" source="https://i5.walmartimages.ca/images/Large/058/019/999999-83996058019.jpg?odnBound=460" price="'1582'"></accessories-item>-->
    </div>
</div>
