<div class="container market-item" ng-init="vm.getOneItem()">
    <h2>Товар {{vm.item.name}}</h2>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-12">
            <img ng-src="{{vm.item.image}}" alt="vm.item.name">
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-12">
            <p ng-bind="vm.item.descr"></p>
            <h5>Спецификация товара</h5>
            <ul class="specification-list">
                <li>Бренд: {{vm.item.name}}</li>
                <li>Напряжение: 12V</li>
                <li>Веc: 2кг</li>
                <li>Материал: пластик</li>
                <li>Производитель: китай</li>
            </ul>
            <p> <b>Цена:</b>  {{vm.item.price}}</p>
            <div ng-class="{'green-status': vm.item.status, 'red-status': !vm.item.status}">
                <div ng-if="vm.item.status"> <span>В наличии </span> </div>
                <div ng-if="!vm.item.status">
                    <span><small>Временно нет в наличии</small></span> <br>
                    <span><small>Ожидаемая дата доставки: 20.04.20</small></span>
                </div>
            </div>
            <div ng-if="vm.item.status">
                <button class="green-status btn btn-primary">
                    Добавить в корзину
                </button>
                <button class="green-status btn btn-primary">
                    Уточнить совместимость
                </button>
            </div>
            <div ng-if="!vm.item.status">
                <button class="red-status btn btn-primary">
                    Под заказ
                </button>
            </div>

        </div>
    </div>
</div>



