<div class="container catalog" ng-init="vm.getAllCategoryItem()">
    <h2>Каталог автомобильных масел</h2>
    <div class="row">
        <accessories-item ng-repeat="item in vm.items" class="col-md-3 col-lg-3 col-sm-3 col-6 catalog-item" ui-sref="catalog.item({catalog: 4, item: item.id})" description="item.descr" source="item.image" price="item.price"></accessories-item>
    </div>
</div>
