@mixin translition  {
  background-blend-mode: multiply;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@mixin image200{
  height: 200px;
}
.market-item{
  .specification-list {
    font-size: 1em;
    padding-left: 3em;
  }
  .btn {
    min-width: 180px;
  }
}
.red-status {
  color: red;
}
.green-status {
  color: green;
}
.btn.red-status {
  color: #fff;
  background: #4798ff;
}
.btn.green-status {
  color: #fff;
  background: green;
}
.catalog { margin-bottom: 15px; }
.catalog-item {
  .adding-button {
    font-size: 30px;
    color: transparent;
    @include translition;
  }
  .adding-button:hover {
    color: #fff;
    @include translition;
  }
  .image {
    @include image200;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    @include translition;
  }
  .color-box {
    border: 1px solid #352e74;
    width: 90% !important;
    min-width: 164px;
    max-width: 200px;
    z-index: 10;
    background: transparent;
    position: absolute;
    @include image200;
    @include translition;
    //width: 100%;
  }
  .color-box:hover {
    background: rgba(53, 46, 116, 0.89);
    @include translition;
  }
  .image-box {
    @include image200;
  }
  .image-box:hover{
    filter: blur(2px);
    background: #352e74;
    @include translition;
  }
  //img {
  //  text-align: center;
  //  float: left;
  //  width: auto;
  //  padding: 30px 0;
  //  height: 250px;
  //  position: relative;
  //  overflow: auto;
  //  margin: 0 auto;
  //  background-color: #fff;
  //  background-blend-mode: multiply;
  //  -webkit-transition: all 0.5s;
  //  -moz-transition: all 0.5s;
  //  -ms-transition: all 0.5s;
  //  -o-transition: all 0.5s;
  //  transition: all 0.5s;
  //}
  //img:hover {
  //  background-color: #352e74;
  //  background-blend-mode: multiply;
  //  -webkit-transition: all 0.5s;
  //  -moz-transition: all 0.5s;
  //  -ms-transition: all 0.5s;
  //  -o-transition: all 0.5s;
  //  transition: all 0.5s;
  //}
}
