<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Кабинет администратора</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <notify></notify>
    <div class="row">
        <orders-list></orders-list>
        <orders></orders>
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
