@import './variables';
@import './mixins';

body {
  background: $main;
  font-family: $base-font;
}
.scroll-top-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  @include translition;
  opacity: 0;
}
.personal-block a {
  font-size: 12px !important;
}
.card-title {
  margin-bottom: 0;
  text-align: center;
  padding: 15px;
}
ul{
  
  li{
    
    a{
      cursor: pointer;  
    }
  
  }
  
}