@import './variables';
.alert-warning {
  color: #856404!important;
  background-color: #fff3cd!important;
  border-color: #ffeeba!important;
}
.alert-success{
  color: #155724!important;
  background-color: #d4edda!important;
  border-color: #c3e6cb!important;
}
.nav-tabs {
  .nav-item {
    border: 1px solid $maincolor;
    border-radius: 0 !important;
  }
  .nav-item:hover {
    border: 1px solid $maincolor;
    color: #fff;
    background: $maincolor;
    border-radius: 0 !important;
  }
  .nav-item a:hover {
    color: #fff;
    border-radius: 0 !important;
  }
  .nav-item.active a {
    color: #fff;
    border-radius: 0 !important;
  }
  .nav-item.active {
    border: 1px solid $maincolor;
    color: #fff;
    background: $maincolor;
    border-radius: 0 !important;
  }
}

@media (max-width: 767px) {
  h2 {
    margin-top: 25px;
    font-size: 1.5rem;
  }
  h1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  footer {
  padding: 30px 10px;
  }
}
