@import './variables';
@import './mixins';

.hide {
  display: none;
}

#message-box {
  opacity: 0;
  @include translition
}
.show-message {
  display: block !important;
  opacity: 1 !important;
  @include translition
}