#top-header-menu {
  list-style: none;
  display: flex;
  margin-bottom: -15px;
  float: right;
  font-size: 12px;
  a{
    font-size: 12px;
  }
}
.bg-dark {
  background-color: #352e74!important;
}
#search-header-form {

  .nav-item:first-child {
    border-left: none;
    border-right: none;
  }

  .nav-item{
    border-left: 2px solid #fff;
  }

  .nav-tabs .nav-link:hover {
    border-color:transparent;
  }

}
.mark-header-list {
  width: 100%;
  display: flex;
  z-index: 3;
  height: auto;
  position: absolute;
  background: #362f73;
  color: #fff;
}
@media (max-width: 767px) {
  .navbar {
    
    top: -20px;
    right: 15px;
    background: #352e74;
    padding: 0 15px;
    margin: 10px 0 0px 0;
    z-index: 999;
    text-align: right;
    display: block;
    position: absolute;
    color: #fff;
    .navbar-light .navbar-toggler-icon {
      color: #fff;
    }
    a {
      color: #fff;
    }
  }
  .navbar:before {
    padding-right: 15px;
    color: #fff;
    content:"Меню"
  }
}