<div class="row">
    <div class="col-lg-4" ng-init="vm.getUserById()">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">{{vm.customer.firstName}} {{vm.customer.lastName}}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li ng-if="!vm.isEdit" class="list-group-item">Имя : <b>{{vm.customer.firstName}}</b></li>
                <li ng-if="vm.isEdit" class="list-group-item">Имя : <input ng-model="vm.firstName" type="text"></li>

                <li ng-if="!vm.isEdit" class="list-group-item">Фамилия : <b>{{vm.customer.lastName}}</b></li>
                <li ng-if="vm.isEdit" class="list-group-item">Фамилия : <input ng-model="vm.lastName" type="text"></li>

                <li ng-if="!vm.isEdit" class="list-group-item">email : <b>{{vm.customer.email}}</b></li>
                <li ng-if="vm.isEdit" class="list-group-item">email :  <input ng-model="vm.email" type="text"></li>

                <li ng-if="!vm.isEdit" class="list-group-item">Телефон : <b>{{vm.customer.phone}}</b></li>
                <li ng-if="vm.isEdit" class="list-group-item">Телефон : <input ng-model="vm.phone" type="text"></li>

                <li class="list-group-item">Количество заказов : <b>{{vm.customer.orders.length}}</b></li>

                <li ng-if="!vm.isEdit" class="list-group-item">Скидка : <b>{{vm.customer.percent}}%</b></li>
                <li ng-if="vm.isEdit" class="list-group-item">Скидка : <input ng-model="vm.percent" type="text"></li>
            </ul>
            <div class="card-block">
                <button class="btn btn-primary" href="mailto:{{vm.customer.email}}">Отправить email</button>
                <button ng-if="!vm.isEdit" class="btn btn-primary" ng-click="vm.editMode()">Редактировать</button>
                <button ng-if="vm.isEdit" class="btn btn-success" ng-click="vm.save()">Сохранить</button>
                <button ng-if="vm.isEdit" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Дата заказа</th>
                    <th>Номер заказа</th>
                    <th>Общая стоимость</th>
                    <th>Количество товаров</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-style="{background: item.status =='done' ? 'rgba(43, 255, 18, 0.49)' : item.status =='pending' ? 'rgba(255, 255, 0, 0.49)' : 'rgba(128, 128, 128, 0.49)'}" ui-sref="dashboard.order( { id: item._id } )" style="cursor: pointer" ng-repeat="item in vm.customer.orders">
                    <td> {{item.created | date}} </td>
                    <td> {{item.orderNumber}} </td>
                    <td> {{item.cost}} </td>
                    <td> {{item.items.length}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>