<h2>Адреса магазинов</h2>
<maps class="container"></maps>

<div class="adress-list container">
    <div class="row text-center">
        <div class="col-4">
            <p>Адрес магазина</p>
        </div>
        <div class="col-4">
            <p>Станция метро</p>
        </div>
        <div class="col-4">
            <p>Телефон</p>
        </div>
    </div>
    <div class="row adress-list-item">
        <div class="text-center col-4">
            <p>г. Новосибирск: ул Николая Островского, 120 (на пересечении ул Ипподромской  и ул. Писарева, вход со стороны ул.Писарева. </p>
        </div>
        <div class="metro-icon col-4">
            <p>Красный проспект</p>
        </div>
        <div class="text-center col-4">
            <p>+7-913-985-03-83</p>
            <p>213-03-83</p>
        </div>
    </div>
    <div class="row adress-list-item">
        <div class="text-center col-4">
            <p>г. Бийск, Алтайский край: ул. Мерлина, 11</p>
        </div>
        <div class="col-4">
            <p></p>
        </div>
        <div class="text-center col-4">
            <p>(3854) 40-22-22</p>
            <p>+7-905-983-90-73 Билайн </p>
            <p>+7-983-177-49-37 МТС</p>
        </div>
    </div>
    <div class="row adress-list-item">
        <div class="text-center col-4">
            <p>г. Бийск, Алтайский край:  ул. Советская, 60</p>
        </div>
        <div class="col-4">
            <p></p>
        </div>
        <div class="text-center col-4">
            <p>(3854)24-00-44</p>
        </div>
    </div>
</div>