<section ng-init="vm.getOrders()">

    <h4 class="alert alert-success">
        Ваши заказы <span ng-if="vm.orders.length > 0">(Всего: {{vm.orders.length}})</span>
    </h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Статус заказа</th>
            <th>Стоимость</th>
            <th>Наименоваий</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{ 'alert-warning': item.status === 'pending', 'alert-success': item.status === 'done', 'text-muted': item.status === 'archive'}" ui-sref="personal.order({ id: item._id })" ng-repeat="item in vm.orders">
            <td>{{item.created | date}}</td>
            <td>
                <b ng-if="item.status === 'pending'">В ожидании</b>
                <b ng-if="item.status === 'done'">Готов</b>
                <b ng-if="item.status === 'archive'">Архив</b>
            </td>
            <td>{{item.cost}}</td>
            <td>{{item.orderLenght}}</td>
        </tr>
        </tbody>
    </table>

</section>
