<div ng-controller="AuthMainController as am" ng-init="am.getUserInfo()">
    <h2>Личный кабинет</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h4 class="alert alert-success card-title">Добро пожаловать</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Имя: {{am.user.firstName}}</li>
                    <li class="list-group-item">Фамилия: {{am.user.lastName}}</li>
                    <li class="list-group-item">Адрес доставки: <a ui-sref="shop">{{ am.user.defaultStorage === 'nsk' ? 'НСК Островского' : am.user.defaultStorage === 'euroAuto' ?  'ЕвроАвто' : 'АвтоЛавка' }}</a></li>
                    <li class="list-group-item">Телефон: {{am.user.phone}}</li>
                    <li class="list-group-item">email: {{am.user.email}}</li>
                </ul>
            </div>
            <div class="mt-3 card-block">
                <a ui-sref="support" style="width: 100%;" class="text-left mt-3 btn btn-primary"><i class="mr-3 fa fa-envelope"></i>Написать запрос</a>
                <!--<a  style="width: 100%;" class="text-left mt-3 btn btn-primary"><i class="mr-3 fa fa-book"></i>Заказы</a>-->
                <a ui-sref="personal.garage" style="width: 100%;" class="text-left mt-3 btn btn-success"><i class="mr-3 fa fa-car"></i>Гараж</a>
                <a ui-sref="personal.edit" style="width: 100%;" class="text-left mt-3 btn btn-success"><i class="mr-3 fa fa-edit"></i>Изменить профиль</a>
            </div>
        </div>
        <div class="col-8">
            <basket></basket>
        </div>
        <div class="mt-5 col-12">
            <order-list></order-list>
        </div>
    </div>
</div>