<div ng-controller="AuthMainController as am" ng-init="am.getUserInfo()">
    <h2>Редактирование пользователя</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h4 class="alert alert-warning card-title">Данные</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Имя: <br>
                        <input class="form-control" type="text" name="name" id="name" ng-model="am.user.firstName">
                    </li>
                    <li class="list-group-item">
                        Фамилия: <br>
                        <input class="form-control" type="text" name="lastName" id="lastName" ng-model="am.user.lastName">
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            <label for="storage" class="w-100">Пункт выдачи заказа:</label>
                            <select required ng-model="vm.storage" class="custom-select" id="storage">
                                <option disabled selected value="">Адрес магазина</option>
                                <option value="autoLavka">г.Бийск, ул. Советская, 60</option>
                                <option value="euroAuto">г.Бийск, ул. Мерлина, 11</option>
                                <option value="nsk">г.Новосибирск, Николая Островского, 120</option>
                            </select>
                        </div>
                    </li>
                    <!--<li class="list-group-item">-->
                        <!--Телефон: <br>-->
                        <!--<input class="form-control" type="text" name="tel" id="tel" ng-model="am.user.phone">-->
                    <!--</li>-->
                    <li class="list-group-item">
                        email: <br>
                        <input class="form-control" type="text" name="email" id="email" ng-model="am.user.email">
                    </li>
                </ul>
            </div>
            <div class="mt-3 card-block">
                <a ng-click="am.saveProfile(am.user)" style="width: 49%" class="mt-3 text-white btn btn-success text-left"> <i class="mr-3 fa fa-save"></i> Сохранить</a>
                <a ng-click="am.cancelEdit()" style="width: 49%" class="mt-3 text-white btn btn-danger text-left"> <i class="mr-3 fa fa-remove"></i> Отменить</a>
            </div>
        </div>
        <div class="col-8">
            <h4 class="alert alert-warning card-title">Гараж</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Производитель</th>
                        <th>Модель</th>
                        <th>Спецификация</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in am.user.garage track by $index">
                    <td>{{car.spec.brand}}</td>
                    <td>{{car.spec.display}}</td>
                    <td>{{car.spec.display}}, Обьем двиг: {{car.spec.engine}}, л.с{{car.spec.horses}}, {{car.spec.fuel}}, Цилиндры: {{car.spec.cyl}}</td>
                    <td><i ng-click="am.removeFromGarage($index)" class="text-danger fa fa-remove"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>