@import './../../../core/scss/layout';
.pay-item.qw:before {
  background-image: url(../img/qw.png);
  background-size: 81px 49px;
  margin-top: 10px;
}
.pay-item.visa:before{
  background-image: url(../img/visa.png);
}
.pay-item.master:before{
  background-image: url(../img/master.png);
}
.pay-item.round:before {
  background-size: 80px 80px !important;
}

.pay-item:before {
  background-size: 80px 50px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
  width: 80px;
  height: 90px;
  float: left;
  content: "";
}
.pay-description {
  margin-bottom: 40px;
}
.pay-item {
  h5 {
    margin-bottom: 0.3rem;
  }
  p{
    line-height: 0.8;
  }
}
.container-pay-rules {
  margin-bottom: 30px;
}
.guarantee {
  background: url('/guarantee.jpg');
  background-size: cover;
  background-position: center;
}
.delivery {
  background: url('/delivery.jpg');
}
div[ng-controller], div[ng-init] {
  position: relative;
  height: 90%;
}
yandex-map {
  display: block;
  width: 100%;
  height: 250px;
}
.window {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}
.adress-list{
  margin-bottom: 15px;
  border: $mainborder;
  .adress-list-item {
    padding: 15px;
    border-top: $mainborder;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .metro-icon:before {
    content: 'M';
    color: #fff;
    background: red;
    padding: 2px 7px;
    border-radius: 25px;
    float: left;
    margin: -3px 20px;
  }
}
.contact-block {
  margin-bottom: 15px;
}