<div class="row" ng-init="mc.getOrderStat()">
    <stats number="{{mc.orderStat.orderStatuses.sum}}" comments="Всего заказов" colour="primary" type="shopping-cart"></stats>
    <!--<stats number="" comments="" colour="primary" type="user"></stats>-->
    <stats ng-if="mc.orderStat.orderStatuses.pending" number="{{mc.orderStat.orderStatuses.pending}}" comments="Новые заказы!" colour="yellow" type="shopping-cart"></stats>
    <stats ui-sref="dashboard.support" ng-if="mc.messagelist.open" number="{{mc.messagelist.open}}" comments="Открытые обращения" colour="red" type="support"></stats>
</div>