<div class="panel panel-default" ng-init="vm.getPriceData()">
    <div class="alert alert-warning">
        <h4>Текущая дата прайса <b>{{ vm.priceData.fileInfo.mtimeMs | date:"dd/MM/yyyy 'Время:' h:mma" }}</b> </h4>
    </div>
    <div class="panel-heading">
        Обновление базы сайта из базы 1С
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <button ng-click="vm.updateDB()" class="btn btn-primary">
                    Запустить обновление базы из файла
                </button>
                <p class="help-block">Дата файла выгрузки: <b>{{refresh}} </b></p>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-12">
                <label>Загрузка прайса</label>
                <!--<input type="file" id="image" onchange="angular.element(this).scope().uploadFile(this.files)">-->
                <input type="file" file-model="myFile"  required/>
                <p class="text-danger">Внимание! для корректной загрузки всех позиций необходимо строгая структура файла</p>
                <p class="text-danger">Внимание! для редактирования и сохранения файла необходимо использовать только блокнот!!!</p>
                <button ng-if="myFile" ng-click="vm.postPrice()" class="btn btn-primary">
                    Загрузить прайс-лист на сервер
                </button>
            </div>
        </div>
        <div class="row">
            <p ng-if="vm.message && !vm.error" class="alert alert-success">{{ vm.message }}</p>
            <p ng-if="vm.error && !vm.message" class="alert alert-danger">{{ vm.error }}</p>
            <p ng-show="vm.errorMsg.length == 0" style="padding-left: 15px" class="text-success alert alert-success"><b>Импорт завершен успешно!</b> Импортировано {{vm.count}} записей</p>
            <p ng-show="vm.errorMsg" style="padding-left: 15px" class="text-danger alert alert-danger"><b>Следущие записи не импортированны</b> изза ошибок в файле выгрузки из 1C</p>
            <ul ng-show="vm.errorMsg">
                <li ng-repeat="err in vm.errorMsg">
                    <p class="help-block"><b class="text-danger">Cтрока ошибки: </b>  {{err.line}} : {{err.itemError}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>